@{
    ViewBag.Title = "Finish Goods";
    ViewBag.Module = "FinishGood";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-inbox bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>Create</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-database"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Master</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Create @ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Item Number</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="ItemNumber" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Stock Name</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="StockName" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Specifications</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="Specifications" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Stock Code</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="StockCode" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Stock Category Code <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="StockCategoryCode" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Stock Category Name <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="StockCategoryName" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Input Tax Rate <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control number" id="InputTaxRate" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Output Tax Rate <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control number" id="OutputTaxRate" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Enabled Date <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control datepicker" id="EnabledDate" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">ABLIAN <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="ABLIAN" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Factor <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control numberDecimal" id="Factor" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Weight/Bag <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control numberDecimal" id="WeightPerBag" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Specific Gravity <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control numberDecimal" id="SpecificGravity" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Weight/Pallet <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control numberDecimal" id="PerPalletWeight" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">UoM <span class="text-muted">(Optional)</span></label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="UoM" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "FinishGoods")" class="btn btn-outline-info float-left"><i class="ik ik-arrow-left"></i>Back</a>
                <button id="btnSave" type="button" class="btn btn-primary float-right"><i class="ik ik-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="saveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Save Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnYes"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>
@section custom_css
{
    @Styles.Render("~/Content/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
}
@section custom_js
{
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/plugins/daterangepicker/moment.min.js")
    @Scripts.Render("~/Content/plugins/inputmask/js/jquery.inputmask.bundle.js")


    <script type="text/javascript">
        let server = '@ViewBag.server';
        let module = '@ViewBag.Module';
        let token = '@Session["token"].ToString()';
        var isValid = true;

        $('.number').inputmask({ "placeholder": "", 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false });
        $('.numberDecimal').inputmask({ "placeholder": "", 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false });

        $("#btnSave").click(function () {
            $('#saveModal').modal('show');
        });

        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            todayHighlight: true,
            orientation: "left",
            autoclose: true,
            startDate: '+0d',
        });

        function clearForm() {
            $('#ItemNumber').removeClass('is-invalid');
            $('#ItemNumber').next().html('');
            $('#StockName').removeClass('is-invalid');
            $('#StockName').next().html('');
            $('#Specifications').removeClass('is-invalid');
            $('#Specifications').next().html('');
            $('#StockCode').removeClass('is-invalid');
            $('#StockCode').next().html('');
            $('#StockCategoryCode').removeClass('is-invalid');
            $('#StockCategoryCode').next().html('');
            $('#StockCategoryName').removeClass('is-invalid');
            $('#StockCategoryName').next().html('');
            $('#InputTaxRate').removeClass('is-invalid');
            $('#InputTaxRate').next().html('');
            $('#OutputTaxRate').removeClass('is-invalid');
            $('#OutputTaxRate').next().html('');
            $('#EnabledDate').removeClass('is-invalid');
            $('#EnabledDate').next().html('');
            $('#ABLIAN').removeClass('is-invalid');
            $('#ABLIAN').next().html('');
            $('#Factor').removeClass('is-invalid');
            $('#Factor').next().html('');
            $('#WeightPerBag').removeClass('is-invalid');
            $('#WeightPerBag').next().html('');
            $('#SpecificGravity').removeClass('is-invalid');
            $('#SpecificGravity').next().html('');
            $('#PerPalletWeight').removeClass('is-invalid');
            $('#PerPalletWeight').next().html('');
            $('#UoM').removeClass('is-invalid');
            $('#UoM').next().html('');
        }

        function clearValue() {
            $('#ItemNumber').val('');
            $('#StockName').val('');
            $('#Specifications').val('');
            $('#StockCode').val('');
            $('#StockCategoryCode').val('');
            $('#StockCategoryName').val('');
            $('#InputTaxRate').val('');
            $('#OutputTaxRate').val('');
            $('#EnabledDate').val('');
            $('#ABLIAN').val('');
            $('#Factor').val('');
            $('#WeightPerBag').val('');
            $('#SpecificGravity').val('');
            $('#PerPalletWeight').val('');
            $('#UoM').val('');
        }

        function showFlash() {
            toastr.success('Data Successfully Saved')
        }

        function dissmissDialog() {
            $('#saveModal').modal('hide');
        }

        $('#btnYes').click(function () {
            $.ajax({
                    type: 'POST',
                    dataType: "json",
                    beforeSend: function (request) {
                        request.setRequestHeader('Token', token);
                    },
                    url: server + 'Api/@ViewBag.Module/Create',
                    data: {
                        MaterialCode: $('#ItemNumber').val(),
                        MaterialName: $('#StockName').val(),
                        Specifications: $('#Specifications').val(),
                        StockCode: $('#StockCode').val(),
                        StockCategoryCode: $('#StockCategoryCode').val(),
                        StockCategoryName: $('#StockCategoryName').val(),
                        InputTaxRate: $('#InputTaxRate').val() ? $('#InputTaxRate').val().replace(/\,/g, '') : 0,
                        OutputTaxRate: $('#OutputTaxRate').val() ? $('#OutputTaxRate').val().replace(/\,/g, '') : 0,
                        EnabledDate: $('#EnabledDate').val() ? moment($('#EnabledDate').val(), 'DD/MM/YYYY').format('YYYY-MM-DD') : "",
                        ABLIAN: $('#ABLIAN').val() ? $('#ABLIAN').val() : 0,
                        Factor: $('#Factor').val() ? $('#Factor').val().replace(/\,/g, '') : 0,
                        WeightPerBag: $('#WeightPerBag').val() ? $('#WeightPerBag').val().replace(/\,/g, '') : 0, 
                        SpecificGravity: $('#SpecificGravity').val() ? $('#SpecificGravity').val().replace(/\,/g, '') : 0,
                        PerPalletWeight: $('#PerPalletWeight').val() ? $('#PerPalletWeight').val().replace(/\,/g, '') : 0,
                        UoM: $('#UoM').val(),
                    },
                    success: function (response) {
                        isValid = response.status;
                        if (!isValid) {
                            $.each(response.error_validation, function (index, value) {
                                $('#' + value.FieldName).next().html(value.ErrorMessage);
                                $('#' + value.FieldName).addClass('is-invalid');
                            });
                            toastr.error(response.message);
                            dissmissDialog();
                        } else {
                            clearValue();
                            clearForm();
                            dissmissDialog();
                            showFlash();
                        }
                    }
                });
        });
    </script>
}
