
@{
    ViewBag.Title = "Re-print Label";
    ViewBag.Module = "Label";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-file bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>List</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-file"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Report</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Material Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="MaterialName" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Lot No</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="LotNo" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">In Date</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control datepicker" id="InDate" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Exp Date</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control datepicker" id="ExpDate" />
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success" id="btnRefreshDataTable">Refresh Table</button>
                            <button type="button" class="btn btn-warning" id="btnClearFilter">Clear Filter</button>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <label class="col-form-label col-sm-2">Warehouse</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="WarehouseFilter">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2">Area</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="AreaFilter">
                                    <option value="">Select Area</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2">Bin/Rack</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="RackFilter">
                                    <option value="">Select Bin/Rack</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-success" id="btnRefreshDataTable">Refresh Table</button>
                                <button type="button" class="btn btn-warning" id="btnClearFilter">Clear Filter</button>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="card-body">
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="data_table" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>AREA</th>
                                <th>BIN RACK</th>
                                <th>MATERIAL CODE</th>
                                <th>MATERIAL NAME</th>
                                <th>STOCK CODE</th>
                                <th>LOT NO.</th>
                                <th>IN DATE</th>
                                <th>EXP DATE</th>
                                <th>BAG QTY</th>
                                <th>QTY/BAG</th>
                                <th>TOTAL QTY</th>
                                <th>STATUS</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="printBarcodeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Print Barcode</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Stock Code</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" id="barcode" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Material Code</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" id="materialCode" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Material Name</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" id="materialName" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Lot No.</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" id="lotNo" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">In Date</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" id="innDate" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Expired Date</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" id="exxDate" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Print Qty</label>
                    <div class="col-sm-4">
                        <input type="text" autocomplete="off" class="form-control number" id="PrintQty" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Use Series</label>
                    <div class="col-sm-4">
                        <div class="custom-control custom-checkbox" style="padding-top: 3px;">
                            <input type="checkbox" class="custom-control-input checkbox" id="PrintSeries" checked />
                            <label class="custom-control-label" for="PrintSeries">&nbsp;</label>
                        </div>
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Printer</label>
                    <div class="col-sm-4">
                        <select id="PrinterList" class="form-control">
                            <option value="" selected>Select Printer</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty</label>
                    <div class="col-sm-4">
                        <input type="text" autocomplete="off" class="form-control number-decimal" id="QtyEdit" />
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="ik ik-x-circle"></i>No
                </button>
                <button type="button" class="btn btn-primary" id="btnSaveDetail" onclick="PrintBarcode()"><i class="ik ik-plus"></i>Print</button>
            </div>
        </div>
    </div>
</div>


@section custom_css
{
    @Styles.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables/fixedColumns.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/toastr/toastr.css")
    @Styles.Render("~/Content/plugins/select2/dist/css/select2.min.css")

    <style>

        tr.row_expired td {
            background-color: lightyellow !important;
        }
    </style>
}

@section custom_js
{
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/plugins/toastr/toastr.min.js")
    @Scripts.Render("~/Content/custom/js/notification.js")
    @Scripts.Render("~/Content/plugins/select2/dist/js/select2.min.js")
    @Scripts.Render("~/Content/plugins/inputmask/js/jquery.inputmask.bundle.js")


    <script>

        $('.number').inputmask({ "placeholder": "", 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false }); let server = '@ViewBag.server';
        $('.number-decimal').inputmask({ "placeholder": "", 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 3, 'digitsOptional': true });

        var isValid = true;
        let token = '@Session["token"].ToString()';
        let module = '@ViewBag.Module';
        let baseUrl = '@ViewBag.BaseUrl';

        var table = $('#data_table').DataTable({
            processing: true,
            serverSide: true,
            sScrollXInner: '150%',
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[6, "asc"]],
            ajax: {
                dataType: "json",
                type: "POST",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + "Api/Report/DatatableActualStockRePrintLabel",
                data: function (d) {
                    d.MaterialName = $('#MaterialName').val();
                    d.LotNo = $('#LotNo').val();
                    d.Indate = $('#InDate').val();
                    d.ExpDate = $('#ExpDate').val();

                }
            },
            columnDefs: [
                //{ orderable: false, targets: -1 }
            ],
            columns: [
                { "data": "BinRackAreaName", "name": "BinRackAreaName", "autoWidth": true },
                { "data": "BinRackName", "name": "BinRackName", "autoWidth": true },
                { "data": "MaterialCode", "name": "MaterialCode", "autoWidth": true },
                { "data": "MaterialName", "name": "MaterialName", "autoWidth": true },
                { "data": "Barcode", "name": "Barcode", "autoWidth": true },
                { "data": "LotNo", "name": "LotNo", "autoWidth": true },
                { "data": "InDate", "name": "InDate", "autoWidth": true },
                { "data": "ExpDate", "name": "ExpDate", "autoWidth": true },
                { "data": "BagQty", "name": "BagQty", "autoWidth": true },
                { "data": "QtyPerBag", "name": "QtyPerBag", "autoWidth": true },
                { "data": "TotalQty", "name": "TotalQty", "autoWidth": true },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let badge = '';
                        if (!data.IsExpired) {
                            badge = '<span class="badge badge-success"><i class="ik ik-check"></i></span>';
                        } else  {
                            badge = '<span class="badge badge-danger"><i class="ik ik-x-circle"></i></span>';
                        }
                        return badge;
                    },
                    "name": "IsExpired"
                },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let button = '';
                        button += '<button type="button" class="btn btn-primary" onclick="return ShowBarcodeForm(this)"><i class="ik ik-inbox"></i>Print Barcode</button> ';
                        return button;
                    },
                },
            ]
        });

        loadWarehouse();
        function loadWarehouse() {
            $.ajax({
                type: 'GET',
                async: false,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/Warehouse/GetData',
                success: function (response) {
                    isValid = response.status;
                    if (isValid) {
                        $('#WarehouseFilter').empty();
                        $('#MaterialName').val('');
                        $('#LotNo').val('');
                        $('#InDate').val('dd/mm/yyyy');
                        $('#ExpDate').val('dd/mm/yyyy');
                        $('#WarehouseFilter').append('<option value="">Select Warehouse</option>');
                        var html = '';
                        $.each(response.list, function (index, value) {
                            html += '<option value="' + value.Code + '">' + value.Code + ' - ' + value.Name + '</option>';
                        });
                        $('#WarehouseFilter').append(html);
                        $('#WarehouseFilter').select2();
                        table.ajax.reload();
                    }
                }
            });
        }

        let TransformDetailId = "";
        function ShowBarcodeForm(row) {
        var elementRow = $(row).closest('tr');
        var dataTableRow = $('#data_table').DataTable().row($(elementRow)).data();
            TransformDetailId = dataTableRow.ID;
            $('#barcode').val(dataTableRow.Barcode);
            $('#materialCode').val(dataTableRow.MaterialCode);
            $('#materialName').val(dataTableRow.MaterialName);
            $('#lotNo').val(dataTableRow.LotNo);
            $('#innDate').val(dataTableRow.InDate);
            $('#exxDate').val(dataTableRow.ExpDate);
            $('#QtyEdit').val(dataTableRow.TotalQty);

            $.ajax({
                type: 'GET',
                async: false,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/Control/ListPrinterWeb',
                success: function (response) {
                    isValid = response.status;
                    if (isValid) {
                        $('#PrinterList').empty();
                        $('#PrinterList').append('<option value="">Select Printer</option>');
                        var html = '';
                        $.each(response.printers, function (index, value) {
                            html += '<option value="' + value.PrinterIP + '">' + value.PrinterName + '</option>';
                        });
                        $('#PrinterList').append(html);
                    }
                }
            });


            $('#printBarcodeModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        function PrintBarcode() {
        $.ajax({
            type: 'POST',
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader('Token', token);
            },
            url: server + 'Api/MobilePrinter/Print',
            data: {
                StockId: TransformDetailId,
                PrintQty: $('#PrintQty').val() != "" ? $('#PrintQty').val().replace(/\,/g, '') : 0,
                UseSeries: $('#PrintSeries').prop('checked'),
                Printer: $('#PrinterList').find(":selected").val(),
                Qty: $('#QtyEdit').val() ? $('#QtyEdit').val().replace(/\,/g, '') : 0,
            },
            success: function (response) {
                isValid = response.status;
                if (!isValid) {
                    $.each(response.error_validation, function (index, value) {
                        $('#' + value.FieldName).next().html(value.ErrorMessage);
                        $('#' + value.FieldName).addClass('is-invalid');
                    });

                    notify("Warning", "warning", response.message);

                } else {
                    notify("Success", "success", response.message);
                    setTimeout(function () { window.location.reload() }, 1000);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                notify("Error", "error", "Oops! Something went wrong.");
            },
            complete: function () {
                $('#printBarcodeModal').modal('hide');
                $('#btnSaveDetail').prop('disabled', false);
            }

        });
    }

    function setPrinterList() {
        $('#PrinterList').select2();
        $.ajax({
            type: 'GET',
            async: false,
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader('Token', token);
            },
            url: server + 'Api/Control/ListPrinterWeb',
            success: function (response) {

                $('#PrinterList').empty();
                var html = '';
                html += '<option value="" selected>Select Printer</option>';
                $.each(response.printers, function (index, value) {
                    html += '<option value="' + value.PrinterIP + '">' + value.PrinterName + '</option>';
                });
                $('#PrinterList').append(html);
                $('#PrinterList').select2({ width: '100%' });
            }
        });
    }

        
    $('#btnRefreshDataTable').click(function () {
        table.ajax.reload();
    });
    $('#MaterialName').change(function () {
    table.ajax.reload();
    });
    $('#LotNo').change(function () {
    table.ajax.reload();
    });
    $('#InDate').change(function () {
    table.ajax.reload();
    });
    $('#ExpDate').change(function () {
    table.ajax.reload();
    });
    $('#btnClearFilter').click(function () {
        loadWarehouse();
        table.ajax.reload();
    });
    $('#QtyEdit').change(function () {
        table.ajax.reload();
    });

    </script>
}