
@{
    ViewBag.Title = "Receiving";
    ViewBag.Module = "Receiving";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-user bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>List</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-database"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Warehouse</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10">
                    @*<div class="form-group row">
                            <label class="col-form-label col-sm-2">Filter</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="Filter">
                                    <option value="OPEN">OPEN/PROGRESS</option>
                                    <option value="CONFIRMED">CONFIRMED</option>
                                    <option value="ALL">ALL</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2">Filtered By</label>
                            <div class="col-sm-4 fa-pull-left">
                                <span id="FilteredBy" class="badge badge-secondary">OPEN/PROGRESS</span>
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Date</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control datepicker" id="DateFilter" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Warehouse</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="WarehouseFilter">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success" id="btnRefreshDataTable">Refresh Table</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="data_table" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>PRINT</th>
                                <th>BARCODE</th>
                                <th>MATERIAL CODE</th>
                                <th>MATERIAL NAME</th>
                                <th colspan="4">PR QTY</th>
                                <th colspan="4">REQUEST QTY</th>
                                <th colspan="4">ACTUAL QTY</th>
                                <th>+/-</th>
                                <th>DO. NO.</th>
                                <th>LOT NO.</th>
                                @*<th>PACKING</th>*@
                                <th>COA</th>
                                @*<th>LOT NO</th>
                                <th>ACTUAL QTY</th>
                                <th>RECEIVE QTY</th>
                                <th>RECEIVED BY</th>
                                <th>INSPECTION QTY</th>
                                <th>NG LOCATION</th>
                                <th>INSPECTION BY</th>
                                <th>JUDGEMENT QTY</th>
                                <th>JUDGEMENT BY</th>
                                <th>LOCATION</th>
                                <th>PUT BY</th>*@
                                <th>ACTION</th>
                            </tr>
                            <tr>
                                <th colspan="4"></th>
                                <th>TOTAL</th>
                                <th>UOM</th>
                                <th>QTY/BAG</th>
                                <th>QTY BAG</th>
                                <th>TOTAL</th>
                                <th>UOM</th>
                                <th>QTY/BAG</th>
                                <th>QTY BAG</th>
                                <th>TOTAL</th>
                                <th>UOM</th>
                                <th>QTY/BAG</th>
                                <th>QTY BAG</th>
                                <th colspan="5"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Import Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnUploadSave"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="formReceiveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Receive Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Raw Material</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Code</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReceiveRawMateCode" id="ReceiveRawMateCode" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Name</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReceiveRawMateName" id="ReceiveRawMateName" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Request Qty</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Total</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReceiveRequestQtyTotal" id="ReceiveRequestQtyTotal" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">UoM</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReceiveRequestQtyUOM" id="ReceiveRequestQtyUOM" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty/Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReceiveRequestQtyPerBag" id="ReceiveRequestQtyPerBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReceiveRequestQtyBag" id="ReceiveRequestQtyBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-8"><strong>DO. and Lot Information</strong></label>
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">DO. No.</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReceiveDoNo" id="ReceiveDoNo" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Lot No.</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReceiveLotNo" id="ReceiveLotNo" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">COA</label>
                    <div class="col-sm-8">
                        <div class="custom-control custom-checkbox" style="padding-top: 3px;">
                            <input type="checkbox" class="custom-control-input checkbox" name="ReceiveCOA" id="ReceiveCOA" />
                            <label class="custom-control-label" for="ReceiveCOA">&nbsp;</label>
                        </div>
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Actual QTY</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control number-non-decimal" name="ReceiveActualQty" id="ReceiveActualQty" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <input type="hidden" id="receiveID" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-primary" id="btnSaveReceive"><i class="ik ik-check-circle"></i>Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="formInspectionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Inspection Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Raw Material</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Code</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="InspectionRawMateCode" id="InspectionRawMateCode" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Name</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="InspectionRawMateName" id="InspectionRawMateName" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Actual Qty</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Total</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="InspectionActualQtyTotal" id="InspectionActualQtyTotal" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">UoM</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="InspectionActualQtyUOM" id="InspectionActualQtyUOM" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty/Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="InspectionActualQtyPerBag" id="InspectionActualQtyPerBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="InspectionActualQtyBag" id="InspectionActualQtyBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-8"><strong>DO. and Lot Information</strong></label>
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">DO. No.</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="InspectionDoNo" id="InspectionDoNo" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Lot No.</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="InspectionLotNo" id="InspectionLotNo" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                @*<div class="form-group row">
            <label class="col-form-label col-sm-4">COA</label>
            <div class="col-sm-8">
                <div class="custom-control custom-checkbox" style="padding-top: 3px;">
                    <input type="checkbox" class="custom-control-input checkbox" name="InspectionCOA" id="InspectionCOA" readonly />
                    <label class="custom-control-label" for="ReceiveCOA">&nbsp;</label>
                </div>
                <span class="help-block text-danger"></span>
            </div>
        </div>*@
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Good / OK</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Input Bag QTY</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control number-non-decimal" name="InspectionQTY" id="InspectionQTY" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Not Good/ NG</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                @*<div class="form-group row">
                    <label class="col-form-label col-sm-4">Damage QTY</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control number-non-decimal" name="ReceiveActualQty" id="ReceiveActualQty" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Wet QTY</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control number-non-decimal" name="ReceiveActualQty" id="ReceiveActualQty" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Foreign Contamination Qty</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control number-non-decimal" name="ReceiveActualQty" id="ReceiveActualQty" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>*@
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" id="InspectionAreaLabel">Area</label>
                    <div class="col-sm-8">
                        <u style="display: block; padding-top: 8px;"><a href="#" id="btnSelectInspectionArea"><i class="ik ik-eye"></i>&nbsp; <ins id="InspectionAreaSelectLabel">Select Area</ins></a></u>
                    </div>
                </div>
                <div id="inspectionAreaField" style="display: none;">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Area Code</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control" name="InspectionAreaCode" id="InspectionAreaCode" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Area Name</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control" name="InspectionAreaCode" id="InspectionAreaName" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Bin/Rack NG Code</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="InspectionBinRackCode" id="InspectionBinRackCode" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Bin/Rack NG Name</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="InspectionBinRackName" id="InspectionBinRackName" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="BinRackInspectionDataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>BIN/RACK CODE</th>
                                <th>BIN/RACK NAME</th>
                                <th>WAREHOUSE</th>
                                <th>AREA</th>
                                <th>STATUS</th>
                                <th>CREATED BY</th>
                                <th>CREATED ON</th>
                                <th>MODIFIED BY</th>
                                <th>MODIFIED ON</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <input type="hidden" id="inspectionID" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-primary" id="btnSaveInspection"><i class="ik ik-check-circle"></i>Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="formJudgementModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Judgement Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Raw Material</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Code</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="JudgementRawMateCode" id="JudgementRawMateCode" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Name</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="JudgementRawMateName" id="JudgementRawMateName" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Good / OK QTY</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Total</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="JudgementActualQtyTotal" id="JudgementActualQtyTotal" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">UoM</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="JudgementActualQtyUOM" id="JudgementActualQtyUOM" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty/Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="JudgementActualQtyPerBag" id="JudgementActualQtyPerBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="JudgementActualQtyBag" id="JudgementActualQtyBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-8"><strong>DO. and Lot Information</strong></label>
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">DO. No.</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="JudgementDoNo" id="JudgementDoNo" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Lot No.</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="JudgementLotNo" id="JudgementLotNo" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">COA</label>
                    <div class="col-sm-8">
                        <div class="custom-control custom-checkbox" style="padding-top: 3px;">
                            <input type="checkbox" class="custom-control-input checkbox" name="JudgementCOA" id="JudgementCOA" readonly />
                            <label class="custom-control-label" for="ReceiveCOA">&nbsp;</label>
                        </div>
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Not Good / NG QTY</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Bag QTY</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="JudgementGoodQTY" id="JudgementGoodQTY" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Input Good / OK QTY</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control number-non-decimal" name="JudgementQTY" id="JudgementQTY" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <input type="hidden" id="judgementID" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-primary" id="btnSaveJudgement"><i class="ik ik-check-circle"></i>Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="formPutawayModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Select Bin/Rack</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="BinRackID" />
                <input type="hidden" id="putawayID" />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Raw Material</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Code</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="PutAwayRawMateCode" id="PutAwayRawMateCode" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Name</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="PutAwayRawMateName" id="PutAwayRawMateName" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Good / OK QTY</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Total</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="PutAwayActualQtyTotal" id="PutAwayActualQtyTotal" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">UoM</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="PutAwayActualQtyUOM" id="PutAwayActualQtyUOM" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty/Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="PutAwayActualQtyPerBag" id="PutAwayActualQtyPerBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="PutAwayActualQtyBag" id="PutAwayActualQtyBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-8"><strong>DO. and Lot Information</strong></label>
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">DO. No.</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="PutAwayDoNo" id="PutAwayDoNo" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Lot No.</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="PutAwayLotNo" id="PutAwayLotNo" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">COA</label>
                    <div class="col-sm-8">
                        <div class="custom-control custom-checkbox" style="padding-top: 3px;">
                            <input type="checkbox" class="custom-control-input checkbox" name="PutAwayCOA" id="PutAwayCOA" readonly />
                            <label class="custom-control-label" for="ReceiveCOA">&nbsp;</label>
                        </div>
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Quantity</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Available QTY Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="PutAwayInspectionQTY" id="PutAwayInspectionQTY" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Putaway QTY Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control number-non-decimal" name="PutawayQTY" id="PutawayQTY" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Bin/Rack</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" id="PutAwayAreaLabel">Area</label>
                    <div class="col-sm-8">
                        <u style="display: block; padding-top: 8px;"><a href="#" id="btnSelectPutAwayArea"><i class="ik ik-eye"></i>&nbsp; <ins id="PutAwayAreaSelectLabel">Select Area</ins></a></u>
                    </div>
                </div>
                <div id="putAwayAreaField" style="display: none;">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Area Code</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control" name="PutAwayAreaCode" id="PutAwayAreaCode" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Area Name</label>
                        <div class="col-sm-8">
                            <input type="text" autocomplete="off" class="form-control" name="PutAwayAreaCode" id="PutAwayAreaName" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Bin/Rack Code</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="BinRackCode" id="BinRackCode" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Bin/Rack NG Name</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="BinRackName" id="BinRackName" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="BinRackDataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>BARCODE</th>
                                <th>BIN/RACK NAME</th>
                                <th>WAREHOUSE</th>
                                <th>AREA</th>
                                <th>STATUS</th>
                                <th>CREATED BY</th>
                                <th>CREATED ON</th>
                                <th>MODIFIED BY</th>
                                <th>MODIFIED ON</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-primary" id="btnSavePutaway"><i class="ik ik-check-circle"></i>Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="formReturnModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Return Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Raw Material</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Code</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReturnRawMateCode" id="ReturnRawMateCode" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Name</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReturnRawMateName" id="ReturnRawMateName" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Actual Qty</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Total</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReturnActualQtyTotal" id="ReturnActualQtyTotal" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">UoM</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReturnActualQtyUOM" id="ReturnActualQtyUOM" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty/Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReturnActualQtyPerBag" id="ReturnActualQtyPerBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReturnActualQtyBag" id="ReturnActualQtyBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4"><strong>Request Qty</strong></label>
                    <div class="col-sm-8">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Total</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReturnRequestQtyTotal" id="ReturnRequestQtyTotal" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">UoM</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReturnRequestQtyUOM" id="ReturnRequestQtyUOM" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty/Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReturnRequestQtyPerBag" id="ReturnRequestQtyPerBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Qty Bag</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control" name="ReturnRequestQtyBag" id="ReturnRequestQtyBag" readonly />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <label class="col-form-label col-sm-8"><strong>Return</strong></label>
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4">Return QTY</label>
                    <div class="col-sm-8">
                        <input type="text" autocomplete="off" class="form-control number-non-decimal" name="ReturnQty" id="ReturnQty" />
                        <span class="help-block text-danger"></span>
                    </div>
                </div>

                <input type="hidden" id="returnID" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-primary" id="btnSaveReturn"><i class="ik ik-check-circle"></i>Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="formAreaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Select Area</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="areaDataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>AREA CODE</th>
                                <th>AREA NAME</th>
                                <th>STATUS</th>
                                <th>CREATED BY</th>
                                <th>CREATED ON</th>
                                <th>MODIFIED BY</th>
                                <th>MODIFIED ON</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section custom_css
{
    @Styles.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables/fixedColumns.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/toastr/toastr.css")
    @Styles.Render("~/Content/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
    <style>
        tr.row_selected td {
            background-color: lightblue !important;
        }

        .modal {
            overflow: auto !important;
        }
    </style>

}

@section custom_js
{
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/plugins/toastr/toastr.min.js")
    @Scripts.Render("~/Content/custom/js/notification.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/plugins/inputmask/js/jquery.inputmask.bundle.js")
    @Scripts.Render("~/Content/plugins/daterangepicker/moment.min.js")

<script>

        let server = '@ViewBag.server';
        var isValid = true;
        let token = '@Session["token"].ToString()';
        let module = '@ViewBag.Module';
        let baseUrl = '@ViewBag.BaseUrl';

        $('.number').inputmask({ "placeholder": "", 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': true});
        $('.number-non-decimal').inputmask({ "placeholder": "", 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false });

        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            todayHighlight: true,
            orientation: "left",
            autoclose: true,
            startDate: '+0d',
        });

        var table = $('#data_table').DataTable({
            processing: true,
            serverSide: true,
            sScrollXInner: '150%',
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[1, "desc"]],
            ajax: {
                dataType: "json",
                type: "POST",
                url: server + "Api/@ViewBag.Module/Datatable?date=&warehouseId=",
            },
            initComplete: function (settings, json) {
                $('.number').inputmask({ "placeholder": "", 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': true});
                $('.number-non-decimal').inputmask({ "placeholder": "", 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false });
            },
            columnDefs: [
                { orderable: false, targets: 0 },
                { orderable: false, targets: -1 },
            ],
            columns: [
                {
                    "data": null,
                    "render": function (data, type, row) {
                    let button = '';
                    if (data.Barcode != null && data.Barcode && data.COA) {
                        button += '<button class="btn btn-info-outline" onclick = "return PrintBarcode(\'' + data.ID + '\')" > <i class="fas fa-barcode"></i>Print</button> ';
                    }
                    return button;
                    }
                },
                { "data": "Barcode", "name": "Barcode", "autoWidth": false },
                { "data": "RawMaterialCode", "name": "RawMaterialCode", "autoWidth": false },
                { "data": "RawMaterialName", "name": "RawMaterialName", "autoWidth": false },
                { "data": "PRQty", "name": "PRQty", "autoWidth": false },
                { "data": "PRUoM", "name": "PRUoM", "autoWidth": false },
                { "data": "PRQtyPerBag", "name": "PRQtyPerBag", "autoWidth": false },
                { "data": "PRBagQty", "name": "PRBagQty", "autoWidth": false },
                { "data": "Qty", "name": "Qty", "autoWidth": false },
                { "data": "UoM", "name": "UoM", "autoWidth": false },
                { "data": "QtyPerBag", "name": "QtyPerBag", "autoWidth": false },
                { "data": "BagQty", "name": "BagQty", "autoWidth": false },
                { "data": "ActualQty", "name": "ActualQty", "autoWidth": false },
                { "data": "UoM", "name": "UoM", "autoWidth": false },
                { "data": "QtyPerBag", "name": "QtyPerBag", "autoWidth": false },
                { "data": "ActualBagQty", "name": "ActualBagQty", "autoWidth": false },
                { "data": "DeviationQty", "name": "DeviationQty", "autoWidth": false },
                { "data": "DONo", "name": "DONo", "autoWidth": false },
                { "data": "LotNo", "name": "LotNo", "autoWidth": false },
                { "data": "COA", "name": "COA", "autoWidth": false },

                //{ "data": "ETA", "name": "ETA", "autoWidth": false },
                //{ "data": "LotNo", "name": "LotNo", "autoWidth": false },
                //{ "data": "ActualQty", "name": "ActualQty", "autoWidth": false },
                //{ "data": "ReceiveQty", "name": "ReceiveQty", "autoWidth": false },
                //{ "data": "ReceivedBy", "name": "ReceivedBy", "autoWidth": false },
                //{ "data": "InspectionQty", "name": "InspectionQty", "autoWidth": false },
                //{ "data": "NGBinRackName", "name": "NGBinRackName", "autoWidth": false },
                //{ "data": "InspectedBy", "name": "InspectedBy", "autoWidth": false },
                //{ "data": "JudgementQty", "name": "JudgementQty", "autoWidth": false },
                //{ "data": "JudgeBy", "name": "JudgeBy", "autoWidth": false },
                //{ "data": "BinRackName", "name": "BinRackName", "autoWidth": false },
                //{ "data": "PutBy", "name": "PutBy", "autoWidth": false },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let button = '';
                        if (data.InspectedOn == '-') {
                            button += '<button class="btn btn-primary" onclick = "ShowReceiveForm(this)" > <i class="ik ik-check-circle"></i>Receive</button> ';
                        }
                        if (data.ReceivedOn != '-' && data.InspectedOn == '-' && data.COA) {
                            button += '<button class="btn btn-primary" onclick = "ShowInspectionForm(this)" > <i class="ik ik-search"></i>Inspection</button> ';
                        }
                        if (data.ReceivedOn != '-' && data.InspectedOn != '-' && data.COA && parseFloat(data.NGQty) > 0) {
                            button += '<button class="btn btn-primary" onclick="ShowJudgementForm(this)"><i class="ik ik-list"></i>Judgement</button> ';
                        }
                        if (data.ReceivedOn != '-' && data.InspectedOn != '-' && data.COA) {
                            button += '<button class="btn btn-primary" onclick="ShowPutawayForm(this)"><i class="ik ik-inbox"></i>Putaway</button>';
                        }
                        if (data.ReceivedOn != '-' && data.InspectedOn == '-') {
                            button += '<button class="btn btn-primary" onclick="ShowReturnForm(this)"><i class="ik ik-corner-up-left"></i>Return</button>';
                        }
                        return button;
                    }
                },
            ]
        });

        $.ajax({
            type: 'GET',
            async: false,
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader('Token', token);
            },
            url: server + 'Api/Warehouse/GetData',
            success: function (response) {
                isValid = response.status;
                if (isValid) {
                    $('#WarehouseFilter').empty();
                    var html = '';
                    $.each(response.list, function (index, value) {
                        html += '<option value="' + value.ID + '">' + value.Code + ' - ' + value.Name + '</option>';
                    });
                    $('#WarehouseFilter').append(html);
                }
            }
        });

        $('#DateFilter').change(function () {
            var Filter = moment($('#DateFilter').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
            table.ajax.url(server + "Api/@ViewBag.Module/Datatable?date=" + Filter + '&warehouseId=' + $('#WarehouseFilter').val()).load();
        });

        $('#WarehouseFilter').change(function () {
            var Filter = moment($('#DateFilter').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
            table.ajax.url(server + "Api/@ViewBag.Module/Datatable?date=" + Filter + '&warehouseId=' + $('#WarehouseFilter').val()).load();
        });

        var BinRackDataTable = $('#BinRackDataTable').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[1, "desc"]],
            ajax: {
                "dataType": "json",
                "type": "POST",
                "url": server + "Api/BinRack/Datatable?binRackAreaId="
            },
            columnDefs: [
                { orderable: false, targets: 0 }
            ],
            columns: [
                {
                    "data": null,
                    "render" : function(data, type, row) {
                        return '<i class="ik ik-check"></i>';
                    }
                },
                { "data": "ID", "name": "ID", "autoWidth": true, visible: false },
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "WarehouseName", "name": "WarehouseName", "autoWidth": true },
                { "data": "BinRackAreaName", "name": "BinRackAreaName", "autoWidth": true },
                { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                { "data": "ModifiedBy", "name": "ModifiedBy", "autoWidth": true },
                { "data": "ModifiedOn", "name": "ModifiedOn", "autoWidth": true },
            ]
        });

        $('#BinRackDataTable tbody').on('click', 'tr', function () {
            var data = BinRackDataTable.row(this).data();
            $('#BinRackID').val(data.ID);
            $('#BinRackCode').val(data.Code);
            $('#BinRackName').val(data.Name);

            $('#BinRackDataTable tbody tr').removeClass('row_selected');
		    $(this).addClass('row_selected');
        });

        var BinRackDataTableInspection = $('#BinRackInspectionDataTable').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[1, "desc"]],
            ajax: {
                "dataType": "json",
                "type": "POST",
                "url": server + "Api/BinRack/Datatable?binRackAreaId="
            },
            columnDefs: [
                { orderable: false, targets: 0 }
            ],
            columns: [
                {
                    "data": null,
                    "render" : function(data, type, row) {
                        return '<i class="ik ik-check"></i>';
                    }
                },
                { "data": "ID", "name": "ID", "autoWidth": true, visible: false },
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "WarehouseName", "name": "WarehouseName", "autoWidth": true },
                { "data": "BinRackAreaName", "name": "BinRackAreaName", "autoWidth": true },
                { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                { "data": "ModifiedBy", "name": "ModifiedBy", "autoWidth": true },
                { "data": "ModifiedOn", "name": "ModifiedOn", "autoWidth": true },
            ]
        });

        $('#BinRackInspectionDataTable tbody').on('click', 'tr', function () {
            var data = BinRackDataTableInspection.row(this).data();
            $('#InspectionBinRackCode').val(data.Code);
            $('#InspectionBinRackName').val(data.Name);

            $('#BinRackInspectionDataTable tbody tr').removeClass('row_selected');
		    $(this).addClass('row_selected');
        });

        var areaDataTable = $('#areaDataTable').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[1, "desc"]],
            ajax: {
                "dataType": "json",
                "type": "POST",
                "url": server + "Api/BinRackArea/Datatable?warehouseId="
            },
            columnDefs: [
                { orderable: false, targets: 0 }
            ],
            columns: [
                {
                    "data": null,
                    "render": function (data, type, row) {
                        return '<i class="ik ik-check"></i>';
                    }
                },
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                { "data": "ModifiedBy", "name": "ModifiedBy", "autoWidth": true },
                { "data": "ModifiedOn", "name": "ModifiedOn", "autoWidth": true },
            ]
        });

        $('#areaDataTable tbody').on('click', 'tr', function () {
            var data = areaDataTable.row(this).data();

            $("#areaDataTable tbody tr").removeClass('row_selected');
            $(this).addClass('row_selected');
            BinRackDataTableInspection.ajax.url(server + 'Api/BinRack/Datatable?binRackAreaId=' + data.ID).load();
            BinRackDataTable.ajax.url(server + 'Api/BinRack/Datatable?binRackAreaId=' + data.ID).load();

            $('#inspectionAreaField').show();
            $('#InspectionAreaCode').val(data.Code);
            $('#InspectionAreaName').val(data.Name);

            $('#putAwayAreaField').show();
            $('#PutAwayAreaCode').val(data.Code);
            $('#PutAwayAreaName').val(data.Name);

            $('#formAreaModal').modal('hide');
        });

        function ShowReceiveForm(row) {
            var elementRow = $(row).closest('tr');
            var dataTableRow = table.row($(elementRow)).data();

            $('#receiveID').val(dataTableRow.ID);
            $('#ReceiveRawMateCode').val(dataTableRow.RawMaterialCode);
            $('#ReceiveRawMateName').val(dataTableRow.RawMaterialName);

            $('#ReceiveRequestQtyTotal').val(dataTableRow.Qty);
            $('#ReceiveRequestQtyUOM').val(dataTableRow.RequestUoM);
            $('#ReceiveRequestQtyPerBag').val(dataTableRow.QtyPerBag);
            $('#ReceiveRequestQtyBag').val(dataTableRow.BagQty);

            $('#ReceiveDoNo').val(dataTableRow.DONo);
            $('#ReceiveLotNo').val(dataTableRow.LotNo);
            $('#ReceiveCOA').prop('checked', dataTableRow.COA);
            $('#ReceiveActualQty').val(dataTableRow.ActualBagQty);

            $('#formReceiveModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        };

        function ShowInspectionForm(row) {
            var elementRow = $(row).closest('tr');
            var dataTableRow = table.row($(elementRow)).data();
            $('#inspectionID').val(dataTableRow.Barcode);

            $('#InspectionRawMateCode').val(dataTableRow.RawMaterialCode);
            $('#InspectionRawMateName').val(dataTableRow.RawMaterialName);

            $('#InspectionActualQtyTotal').val(dataTableRow.ActualQty ? dataTableRow.ActualQty : 0);
            $('#InspectionActualQtyUOM').val(dataTableRow.UoM);
            $('#InspectionActualQtyPerBag').val(dataTableRow.QtyPerBag ? dataTableRow.QtyPerBag : 0);
            $('#InspectionActualQtyBag').val(dataTableRow.ActualBagQty ? dataTableRow.ActualBagQty : 0);

            $('#InspectionDoNo').val(dataTableRow.DONo);
            $('#InspectionLotNo').val(dataTableRow.LotNo);
            $('#InspectionCOA').prop('checked', dataTableRow.COA);
            $('#InspectionActualQty').val(dataTableRow.ActualQty);

            $('#inspectionAreaField').hide();
            $('#InspectionAreaCode').val('');
            $('#InspectionAreaName').val('');

            $('#InspectionBinRackCode').val(dataTableRow.NGBinRackCode);
            $('#InspectionBinRackName').val('');
            $('#InspectionQTY').val(dataTableRow.InspectionBagQty ? dataTableRow.InspectionBagQty : 0);
            $('#BinRackInspectionDataTable tbody tr').remove();
            areaDataTable.ajax.url(server + 'Api/BinRackArea/Datatable?warehouseId=' + dataTableRow.WarehouseID).load();
            $('#BinRackInspectionDataTable tbody tr').removeClass('row_selected');

            $('#formInspectionModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        };

        function ShowJudgementForm(row) {
            var elementRow = $(row).closest('tr');
            var dataTableRow = table.row($(elementRow)).data();
            $('#judgementID').val(dataTableRow.Barcode);

            $('#JudgementRawMateCode').val(dataTableRow.RawMaterialCode);
            $('#JudgementRawMateName').val(dataTableRow.RawMaterialName);

            $('#JudgementActualQtyTotal').val(dataTableRow.OKQty ? dataTableRow.OKQty : 0);
            $('#JudgementActualQtyUOM').val(dataTableRow.UoM);
            $('#JudgementActualQtyPerBag').val(dataTableRow.QtyPerBag ? dataTableRow.QtyPerBag : 0);
            $('#JudgementActualQtyBag').val(dataTableRow.OKBagQty ? dataTableRow.OKBagQty : 0);

            $('#JudgementDoNo').val(dataTableRow.DONo);
            $('#JudgementLotNo').val(dataTableRow.LotNo);
            $('#JudgementCOA').prop('checked', dataTableRow.COA);
            $('#JudgementActualQty').val(dataTableRow.ActualQty);

            $('#JudgementGoodQTY').val(dataTableRow.NGBagQty ? dataTableRow.NGBagQty : 0);
            $('#JudgementQTY').val(0);

            $('#formJudgementModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        };

        function ShowPutawayForm(row) {
            var elementRow = $(row).closest('tr');
            var dataTableRow = table.row($(elementRow)).data();
            $('#putawayID').val(dataTableRow.Barcode);

            $('#PutAwayRawMateCode').val(dataTableRow.RawMaterialCode);
            $('#PutAwayRawMateName').val(dataTableRow.RawMaterialName);

            $('#PutAwayActualQtyTotal').val(dataTableRow.OKQty ? dataTableRow.OKQty : 0);
            $('#PutAwayActualQtyUOM').val(dataTableRow.UoM);
            $('#PutAwayActualQtyPerBag').val(dataTableRow.QtyPerBag ? dataTableRow.QtyPerBag : 0);
            $('#PutAwayActualQtyBag').val(dataTableRow.OKBagQty ? dataTableRow.OKBagQty : 0);

            $('#PutAwayDoNo').val(dataTableRow.DONo);
            $('#PutAwayLotNo').val(dataTableRow.LotNo);
            $('#PutAwayCOA').prop('checked', dataTableRow.COA);
            $('#PutAwayActualQty').val(dataTableRow.ActualQty);

            $('#putAwayAreaField').hide();
            $('#PutAwayAreaCode').val('');
            $('#PutAwayAreaName').val('');

            $('#BinRackCode').val('');
            $('#BinRackName').val('');
            $('#PutAwayInspectionQTY').val(dataTableRow.AvailableBagQty ? dataTableRow.AvailableBagQty : 0);
            $('#PutawayQTY').val(0);
            $('#BinRackDataTable tbody tr').remove();
            areaDataTable.ajax.url(server + 'Api/BinRackArea/Datatable?warehouseId=' + dataTableRow.WarehouseID).load();
            $('#BinRackDataTable tbody tr').removeClass('row_selected');

            $('#formPutawayModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        };

        function ShowReturnForm(row) {
            var elementRow = $(row).closest('tr');
            var dataTableRow = table.row($(elementRow)).data();
            $('#returnID').val(dataTableRow.ID);
            $('#ReturnRawMateCode').val(dataTableRow.RawMaterialCode);
            $('#ReturnRawMateName').val(dataTableRow.RawMaterialName);

            $('#ReturnActualQtyTotal').val(dataTableRow.ActualQty ? dataTableRow.ActualQty : 0);
            $('#ReturnActualQtyUOM').val(dataTableRow.UoM);
            $('#ReturnActualQtyPerBag').val(dataTableRow.QtyPerBag ? dataTableRow.QtyPerBag : 0);
            $('#ReturnActualQtyBag').val(dataTableRow.ActualBagQty ? dataTableRow.ActualBagQty : 0);

            $('#ReturnRequestQtyTotal').val(dataTableRow.Qty ? dataTableRow.Qty : 0);
            $('#ReturnRequestQtyUOM').val(dataTableRow.RequestUoM);
            $('#ReturnRequestQtyPerBag').val(dataTableRow.QtyPerBag ? dataTableRow.QtyPerBag : 0);
            $('#ReturnRequestQtyBag').val(dataTableRow.BagQty ? dataTableRow.BagQty : 0);

            $('#ReturnQty').val(0);

            $('#formReturnModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        };

        $('#btnSaveReceive').on('click', function () {
            $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/Receiving/Update',
                data: {
                    ID: $('#receiveID').val(),
                    DONo: $('#ReceiveDoNo').val(),
                    LotNo: $('#ReceiveLotNo').val(),
                    COA: $('#ReceiveCOA').prop('checked'),
                    ActualQty: $('#ReceiveActualQty').val().replace(/\,/g, ''),
                },
                success: function (response) {
                    isValid = response.status;
                    if (isValid) {
                        //dissmissDialog();
                        table.ajax.reload();
                        $('#formReceiveModal').modal('hide');
                        toastr.success(response.message);
                    } else {
                        //dissmissDialog();
                        //$('#formReceiveModal').modal('hide');
                        toastr.error(response.message + (response.error_validation[0] ? ' - ' + response.error_validation[0].ErrorMessage : ''));
                    }
                    table.columns.adjust();
                }
            });
        });

        $('#btnSaveInspection').on('click', function () {
            $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/Receiving/InspectionManual',
                data: {
                    Barcode: $('#inspectionID').val(),
                    Qty: $('#InspectionQTY').val().replace(/\,/g, ''),
                    NGBinRackCode: $('#InspectionBinRackCode').val(),
                },
                success: function (response) {
                    isValid = response.status;
                    if (isValid) {
                        //dissmissDialog();
                        table.ajax.reload();
                        $('#formInspectionModal').modal('hide');
                        toastr.success(response.message);
                    } else {
                        //dissmissDialog();
                        //$('#formInspectionModal').modal('hide');
                        toastr.error(response.message + (response.error_validation[0] ? ' - ' +  response.error_validation[0].ErrorMessage : ''));
                    }
                    table.columns.adjust();
                }
            });
        });

        $('#btnSaveJudgement').on('click', function () {
            $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/Receiving/JudgementManual',
                data: {
                    Barcode: $('#judgementID').val(),
                    Qty: $('#JudgementQTY').val().replace(/\,/g, ''),
                },
                success: function (response) {
                    isValid = response.status;
                    if (isValid) {
                        //dissmissDialog();
                        $('#formJudgementModal').modal('hide');
                        table.ajax.reload();
                        toastr.success(response.message);
                    } else {
                        //dissmissDialog();
                        //$('#formJudgementModal').modal('hide');
                        toastr.error(response.message + (response.error_validation[0] ? ' - ' + response.error_validation[0].ErrorMessage : ''));
                    }
                    table.columns.adjust();
                }
            });
        });

        $('#btnSavePutaway').on('click', function () {
            $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/Receiving/PutawayManual',
                data: {
                    Barcode: $('#putawayID').val(),
                    Qty: $('#PutawayQTY').val().replace(/\,/g, ''),
                    BinRackCode: $('#BinRackCode').val(),
                },
                success: function (response) {
                    isValid = response.status;
                    if (isValid) {
                        //dissmissDialog();
                        table.ajax.reload();
                        $('#formPutawayModal').modal('hide');
                        toastr.success(response.message);
                    } else {
                        //dissmissDialog();
                        //$('#formPutawayModal').modal('hide');
                        toastr.error(response.message + (response.error_validation[0] ? ' - ' + response.error_validation[0].ErrorMessage : ''));
                    }
                    table.columns.adjust();
                }
            });
        });

        $('#btnSaveReturn').on('click', function () {
            $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/Receiving/Return',
                data: {
                    ID: $('#returnID').val(),
                    ReturnQty: $('#ReturnQty').val().replace(/\,/g, ''),
                },
                success: function (response) {
                    isValid = response.status;
                    if (isValid) {
                        //dissmissDialog();
                        table.ajax.reload();
                        $('#formReturnModal').modal('hide');
                        toastr.success(response.message);
                    } else {
                        //dissmissDialog();
                        //$('#formReceiveModal').modal('hide');
                        toastr.error(response.message + (response.error_validation[0] ? ' - ' + response.error_validation[0].ErrorMessage : ''));
                    }
                    table.columns.adjust();
                }
            });
        });

        $('#btnSelectInspectionArea').click(function () {
            $('#formAreaModal').modal('show');
            areaDataTable.columns.adjust();
        });

        $('#btnSelectPutAwayArea').click(function () {
            $('#formAreaModal').modal('show');
            areaDataTable.columns.adjust();
        });

        $('#btnRefreshDataTable').click(function () {
            table.ajax.reload();
        })

        function PrintBarcode(id) {
             window.open('@Url.Action("GenerateLabel", "Receiving")' + '?id=' + id, "_blank");
        }
</script>
}