@{
    ViewBag.Title = "Report Stock Opname";
    ViewBag.Module = "StockOpname";
}
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-user bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>List</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-database"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Master Data</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2">Start Stock Opname Date</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control datepicker" id="DateFilter" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2">End Stock Opname Date</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control datepicker" id="EndDateFilter" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="data_table" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>CODE</th>
                                <th>WAREHOUSE CODE</th>
                                <th>WAREHOUSE NAME</th>
                                <th>BINRACK CODE</th>
                                <th>BINRACK NAME</th>
                                <th>STATUS</th>
                                <th>CREATED BY</th>
                                <th>CREATED ON</th>
                                <th>MODIFIED BY</th>
                                <th>MODIFIED ON</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Import Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnUploadSave"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>



@section custom_css
{
    @Styles.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables/fixedColumns.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/toastr/toastr.css")
    @Styles.Render("~/Content/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
    @Styles.Render("~/Content/plugins/select2/dist/css/select2.min.css")

    <style>
        tr.row_selected td {
            background-color: lightblue !important;
        }

        .modal {
            overflow: auto !important;
        }
    </style>
}

@section custom_js
{
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/plugins/toastr/toastr.min.js")
    @Scripts.Render("~/Content/custom/js/notification.js")
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/plugins/inputmask/js/jquery.inputmask.bundle.js")
    @Scripts.Render("~/Content/plugins/daterangepicker/moment.min.js")
    @Scripts.Render("~/Content/plugins/select2/dist/js/select2.min.js")

    <script>

        let server = '@ViewBag.server';
        let module = '@ViewBag.Module';
        let baseUrl = '@ViewBag.BaseUrl';
        var isValid = true;

        var table = $('#data_table').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[7, "desc"]],
            ajax: {
                dataType: "json",
                type: "POST",
                url: server + "Api/" + module + "/DatatableHeaderReport?transactionStatus=OPEN/CONFIRMED",
                data: function (d) {
                    d.date = moment($('#DateFilter').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
                    d.enddate = moment($('#EndDateFilter').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
                }
            },
            columnDefs: [
                { orderable: false, targets: -1 }
            ],
            columns: [
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "WarehouseCode", "name": "WarehouseCode", "autoWidth": true },
                { "data": "WarehouseName", "name": "WarehouseName", "autoWidth": true },
                { "data": "BinRackAreaCode", "name": "BinRackAreaCode", "autoWidth": true },
                { "data": "BinRackAreaName", "name": "BinRackAreaName", "autoWidth": true },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let badge = '';
                        if (data.TransactionStatus == 'CONFIRMED') {
                            badge = 'badge badge-success';
                        } else {
                            badge = 'badge badge-danger';
                        }
                        let button = '<span class="' + badge + '">' + data.TransactionStatus + '</span>';
                        return button;
                    }
                },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                { "data": "ModifiedBy", "name": "ModifiedBy", "autoWidth": true },
                { "data": "ModifiedOn", "name": "ModifiedOn", "autoWidth": true },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let button = '';
                        //let button = '<a class="btn btn-outline-info" href="' + baseUrl + '/' + module + '/Detail?id=' + row.ID + '">';
                        button += '<button class="btn btn-primary" onclick="ShowStockOpname(this)"><i class="ik ik-file"></i>Export Excel</button>';
                        //let button += '<button class="btn btn-primary" onclick="ShowStockOpname(this)"><i class="ik ik-eye"></i>View COA</button>';
                        //button += '<i class="ik ik-eye"></i>Export Excel</a>';
                        return button;
                    }
                },
            ]
        });


        $('#Filter').change(function () {
            var Filter = $('#Filter').val();
            $('#FilteredBy').html(Filter);

            var badge = 'badge ';
            if (Filter == 'OPEN') {
                badge += 'badge-info';
                Filter = '?transactionStatus=' + Filter;
            } else if (Filter == 'CONFIRMED') {
                badge += 'badge-success';
                Filter = '?transactionStatus=' + Filter;
            } else {
                badge += 'badge-dark';
                Filter = '?transactionStatus=OPEN/CONFIRMED';
            }
            $('#FilteredBy').removeClass();
            $('#FilteredBy').addClass(badge);
            table.ajax.url(server + "Api/@ViewBag.Module/DatatableHeaderReport" + Filter).load();
        });

        function ShowStockOpname(row) {
            var elementRow = $(row).closest('tr');
            var dataTableRow = $('#data_table').DataTable().row($(elementRow)).data();
            StockOpnameId = dataTableRow.ID;

            window.open('@Url.Action("ExportStockOpnameToExcel", "StockOpname")' + '?id=' + StockOpnameId, "_blank");
        };

        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            todayHighlight: true,
            orientation: "left",
            autoclose: true,
            endDate: '+0d',
        });

        // Handle date filter changes
        $('#DateFilter').change(function () {
            table.ajax.reload();
        });

        $('#EndDateFilter').change(function () {
            table.ajax.reload();
        });
    </script>
}