@{
    ViewBag.Title = "Supplier Classification";
    ViewBag.Module = "SupplierClassification";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-inbox bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>Edit</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-database"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Master</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Edit @ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Code</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" id="Code" class="form-control" readonly />
                                <input type="hidden" id="ID" class="form-control" />
                                <input type="hidden" id="CodeHidden" class="form-control" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Name</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" id="Name" class="form-control" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Remarks</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" id="Remarks" class="form-control" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-4 col-sm-8">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="IsActive" id="IsActive">
                                    <label class="custom-control-label" for="IsActive">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "SupClass")" class="btn btn-outline-info float-left"><i class="ik ik-arrow-left"></i>Back</a>
                <button id="btnSave" type="button" class="btn btn-primary float-right"><i class="ik ik-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="saveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Save Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnYes"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>

@section custom_js
{
    <script type="text/javascript">
        let server = '@ViewBag.server';
        let module = '@ViewBag.Module';
        let token = '@Session["token"].ToString()';
        var isValid = true;
        initData();

        function initData() {
            $.ajax({
                type: 'GET',
                dataType: 'json',
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/@ViewBag.Module/GetDataById?id=@ViewBag.Param',
                success: function (response) {
                    isValid = response.status;
                    if (isValid) {
                        var data = response.data;
                        $('#Name').val(data.Name);
                        $('#ID').val(data.ID);
                        $('#Remarks').val(data.Remarks);
                        $('#Code').val(data.Code);
                        $('#CodeHidden').val(data.Code);
                        $('#IsActive').prop('checked', data.IsActive);
                    }
                }
            });
        }

        $('#btnSave').click(function () {
            isValid = true;
            clearForm();
            if ($('#Name').val().length == 0) {
                $('#Name').addClass('is-invalid');
                $('#Name').next().html('This field is Required');
                isValid = false;
            }

            if ($('#Code').val().length == 0) {
                $('#Code').addClass('is-invalid');
                $('#Code').next().html('This field is Required');
                isValid = false;
            }

            if ($('#Remarks').val().length == 0) {
                $('#Remarks').addClass('is-invalid');
                $('#Remarks').next().html('This field is Required');
                isValid = false;
            }

            if (isValid) {
                $('#saveModal').modal('show');
            }
        });

        function clearForm() {
            $('#Code').removeClass('is-invalid');
            $('#Code').next().html('');
            $('#Name').removeClass('is-invalid');
            $('#Name').next().html('');
            $('#Remarks').removeClass('is-invalid');
            $('#Remarks').next().html('');
        }

        function showFlash() {
            toastr.success('Data Successfully Saved')
        }

        function dissmissDialog() {
            $('#saveModal').modal('hide');
        }

        $('#btnYes').click(function () {
            let isActive = 'false';
            if ($('#IsActive').prop('checked')) {
                isActive = 'true';
            };
            $.ajax({
                    type: 'POST',
                    dataType: "json",
                    beforeSend: function (request) {
                        request.setRequestHeader('Token', token);
                    },
                    url: server + 'Api/@ViewBag.Module/Update',
                    data: {
                        ID: $('#ID').val(),
                        Name: $('#Name').val(),
                        Code: $('#CodeHidden').val(),
                        Remarks: $('#Remarks').val(),
                        IsActive: isActive
                    },
                    success: function (response) {
                        isValid = response.status;
                        if (!isValid) {
                            $.each(response.error_validation, function (index, value) {
                                $('#' + value.FieldName).next().html(value.ErrorMessage);
                                $('#' + value.FieldName).addClass('is-invalid');
                            });
                            toastr.error(response.message);
                            dissmissDialog();
                        } else {
                            clearForm();
                            dissmissDialog();
                            showFlash();
                        }
                    }
                });
        });
    </script>
}
