@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Layout Floor Plan - Raw Material</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables/fixedColumns.bootstrap4.min.css")
    <!-- Custom styles for this template -->
    <style>
    /* Sticky footer styles
    -------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        line-height: 60px; /* Vertically center the text there */
        background-color: #f5f5f5;
    }


    /* Custom page CSS
    -------------------------------------------------- */
    /* Not required for template or sticky footer method. */

    body > .container-fluid {
        padding: 35px 50px 0;
    }

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    code {
        font-size: 80%;
    }

    body {
        padding-top: 2rem;
        padding-bottom: 0;
    }

    h3 {
        margin-top: 2rem;
    }

    .row {
        margin-bottom: 1rem;
    }

        .row .row {
            margin-top: 1rem;
            margin-bottom: 0;
        }


    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .table-bordered.table-rak td {
        border: 1px solid #000;
    }

    .table-bordered.table-rak tbody tr td {
        border: 1px solid rgba(86, 61, 124, .2);
    }

    .rak-temp {
        width: 80%;
        right: 0;
        position: absolute;
        bottom: 0;
        height: 60px;
        border: 2px solid #096b72;
        background: repeating-linear-gradient(to right, transparent, #ed7d31 6px, rgba(9, 107, 114, 0.5) 6px, rgba(9, 107, 114, 0.5) 8px), repeating-linear-gradient(to bottom, transparent, #ed7d31 6px, rgba(9, 107, 114, 0.5) 6px, rgba(9, 107, 114, 0.5) 8px);
    }


    #rak-5,
    #rak-6,
    #rak-7,
    #rak-8,
    #rak-9,
    #rak-10 {
        background: #00b0f0;
    }

    #rak-11,
    #rak-12 {
        background: #ffff00;
    }


    .space-blank-purple {
        position: absolute;
        height: 70%;
        background: #cc66ff;
        width: 70%;
        right: 5px;
        top: 5px;
    }

    .label-info {
        background: #fff;
        border: 0;
        font-size: 12px;
        font-weight: bold;
    }


    #rak-11 tbody tr td {
        height: 70px;
    }

    #rm-area,
    #rm-area tbody tr td {
        background: #ffcccc;
        border-color: #ffcccc;
    }

    #rm-area tbody tr td {
        height: 70px;
    }

    .rak-lookup tr td:hover {
        box-shadow: 1px 1px 1px 1px;
    }

    .border-area {
        padding: 10px;
        border: 5px solid #ffc000;
    }

    tbody tr.row-label td,
    tbody tr td.col-label {
        border: 1px solid #fff !important;
        font-weight: bold;
        font-size: 10px;
        background: #fff;
    }
    </style>

    <script>
        var URL_API = '@System.Configuration.ConfigurationManager.AppSettings["server"].ToString()';
        var TOKEN_USER = '@(Session != null && @Session["token"] != null ? @Session["token"].ToString() : "")';
    </script>
</head>

<body>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">LAYOUT RAW MATERIAL</a>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container-fluid">
        <div class="border-area">
            <div class="row">
                <div class="col-3" style="padding-top: 200px;">
                    <label class="form-control label-info">RAK - 5</label>
                    <table id="rak-5" class="rak-lookup table table-bordered table-rak">
                        <tbody>
                            <tr class="row-label">
                                <td>J</td>
                                <td>I</td>
                                <td>H</td>
                                <td>G</td>
                                <td>F</td>
                                <td>E</td>
                                <td>D</td>
                                <td>C</td>
                                <td>B</td>
                                <td>A</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">1</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">2</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">3</td>
                            </tr>
                        </tbody>
                    </table>

                    <label class="form-control label-info">RAK - 6</label>
                    <table id="rak-6" class="rak-lookup table table-bordered table-rak">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">3</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">2</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">1</td>
                            </tr>
                        </tbody>
                    </table>

                    <label class="form-control label-info">RAK - 7</label>
                    <table id="rak-7" class="rak-lookup table table-bordered table-rak">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">1</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">2</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-1">
                    <div class="rak-lookup space-blank-purple"></div>

                    <div class="rak-lookup rak-temp">
                        <label class="form-control label-info" style="background: transparent; color: #fff; font-weight: bold;">RAK - TEMP</label>
                    </div>
                </div>
                <div class="col-3" style="padding-top: 200px;">

                    <label class="form-control label-info">RAK - 10</label>
                    <table id="rak-10" class="rak-lookup table table-sm table-bordered table-rak">
                        <tbody>
                            <tr class="row-label">
                                <td>H</td>
                                <td>G</td>
                                <td>F</td>
                                <td>E</td>
                                <td>D</td>
                                <td>C</td>
                                <td>B</td>
                                <td>A</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">1</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">2</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">3</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">4</td>
                            </tr>
                        </tbody>
                    </table>

                    <label class="form-control label-info">RAK - 9</label>
                    <table id="rak-9" class="rak-lookup table table-sm table-bordered table-rak">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">4</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">3</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">2</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">1</td>
                            </tr>
                        </tbody>
                    </table>

                    <label class="form-control label-info">RAK - 8</label>
                    <table id="rak-8" class="rak-lookup table table-sm table-bordered table-rak">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">4</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">3</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">2</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="col-label">1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    <label class="form-control label-info">RAK - 12</label>
                    <table id="rak-12" class="rak-lookup table table-bordered table-rak">
                        <tbody>
                            <tr>
                                <td class="col-label">4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-label">3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-label">2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-label">1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr class="row-label">
                                <td></td>
                                <td>A</td>
                                <td>B</td>
                                <td>C</td>
                                <td>D</td>
                            </tr>
                        </tbody>
                    </table>


                    <table id="rm-area" class="rak-lookup table table-bordered table-rak">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="space-blank-pink"></div>
                </div>
                <div class="col-1" style="padding-top: 100px;">
                    <label class="form-control label-info">RAK - 11</label>
                    <table id="rak-11" class="rak-lookup table table-bordered table-rak">
                        <tbody>
                            <tr class="row-label">
                                <td></td>
                                <td>4</td>
                                <td>3</td>
                                <td>2</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td class="col-label">A</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-label">B</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-label">C</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-label">D</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-label">E</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="col-label">F</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Information Layout.</span>
        </div>
    </footer>


    <div class="modal fade bd-example-modal-lg" id="form-lookup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalTitle">BinRack Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table id="item-list" class="table table-sm table-bordered table-striped nowrap" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>MATERIAL CODE</th>
                                <th>MATERIAL NAME</th>
                                <th>AREA</th>
                                <th>RACK</th>
                                <th>QTY</th>
                            </tr>
                        </thead>
                    </table>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ik ik-x-circle"></i>Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/Content/plugins/jquery/jquery.min.js")
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.fixedColumns.min.js")



    <script>
        //$('#form-lookup').modal();


        function ShowReceiveForm() {

            $('#form-lookup').modal({
                backdrop: 'static',
                keyboard: false
            });
        };

        console.log(URL_API + "api/transfer/stock");

        var table = $('#item-list').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                dataType: "json",
                type: "POST",
                url: URL_API + "api/transfer/stock",
            },
            columns: [
                { "data": "Barcode", "name": "Barcode", "autoWidth": false },
                { "data": "MaterialName", "name": "MaterialName", "autoWidth": false },
                { "data": "BinRackArea", "name": "BinRackArea", "autoWidth": false },
                { "data": "BinRack", "name": "BinRack", "autoWidth": false },
                { "data": "Quantity", "name": "Quantity", "autoWidth": false }
            ]
        });


        $('.rak-lookup').click(function () {
            $('#form-lookup').modal('show');
            table.ajax.url(URL_API + "api/transfer/stock").load();
        });

    </script>
</body>
</html>
