@{
    ViewBag.Title = "WIP/FG";
    ViewBag.Module = "WIP_FG";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-inbox bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>Create</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-database"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Master</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Create @ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">WIP/FG Code</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="Code" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">WIP/FG Name</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="Name" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Stock Code</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="StockCode" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Specification</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="Specification" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Category Code</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="CategoryCode" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Input Tax Rate</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="InputTaxRate" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Output Tax Rate</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="OutputTaxRate" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Enabled Date</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control datepicker" id="EnabledDate" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">ABLIAN</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="ABLIAN" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Factor</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="Factor" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Weight/Bag</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="WeightPerBag" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Specific Gravity</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="SpecificGravity" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-sm-4">Weight/Pallet</label>
                            <div class="col-sm-8">
                                <input type="text" autocomplete="off" class="form-control" id="WeightPerPallet" />
                                <span class="help-block text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "WIPFG")" class="btn btn-outline-info float-left"><i class="ik ik-arrow-left"></i>Back</a>
                <button id="btnSave" type="button" class="btn btn-primary float-right"><i class="ik ik-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="saveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Save Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnYes"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>
@section custom_css
{
    @Styles.Render("~/Content/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
}
@section custom_js
{
    @Scripts.Render("~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/plugins/daterangepicker/moment.min.js")


    <script type="text/javascript">
        let server = '@ViewBag.server';
        let module = '@ViewBag.Module';
        let token = '@Session["token"].ToString()';
        var isValid = true;

        $("#btnSave").click(function () {
            $('#saveModal').modal('show');
        });

        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            todayHighlight: true,
            orientation: "left",
            autoclose: true,
            startDate: '+0d',
        });

        function clearForm() {
            $('#Code').removeClass('is-invalid');
            $('#Code').next().html('');
            $('#Name').removeClass('is-invalid');
            $('#Name').next().html('');
            $('#StockCode').removeClass('is-invalid');
            $('#StockCode').next().html('');
            $('#Specification').removeClass('is-invalid');
            $('#Specification').next().html('');
            $('#CategoryCode').removeClass('is-invalid');
            $('#CategoryCode').next().html('');
            $('#InputTaxRate').removeClass('is-invalid');
            $('#InputTaxRate').next().html('');
            $('#OutputTaxRate').removeClass('is-invalid');
            $('#OutputTaxRate').next().html('');
            $('#EnabledDate').removeClass('is-invalid');
            $('#EnabledDate').next().html('');
            $('#ABLIAN').removeClass('is-invalid');
            $('#ABLIAN').next().html('');
            $('#Factor').removeClass('is-invalid');
            $('#Factor').next().html('');
            $('#WeightPerBag').removeClass('is-invalid');
            $('#WeightPerBag').next().html('');
            $('#SpecificGravity').removeClass('is-invalid');
            $('#SpecificGravity').next().html('');
            $('#WeightPerPallet').removeClass('is-invalid');
            $('#WeightPerPallet').next().html('');
        }

        function clearValue() {
            $('#Code').val('');
            $('#Name').val('');
            $('#StockCode').val('');
            $('#Specification').val('');
            $('#CategoryCode').val('');
            $('#InputTaxRate').val('');
            $('#OutputTaxRate').val('');
            $('#EnabledDate').val('');
            $('#ABLIAN').val('');
            $('#Factor').val('');
            $('#WeightPerBag').val('');
            $('#SpecificGravity').val('');
            $('#WeightPerPallet').val('');
        }

        function showFlash() {
            toastr.success('Data Successfully Saved')
        }

        function dissmissDialog() {
            $('#saveModal').modal('hide');
        }

        $('#btnYes').click(function () {
            $.ajax({
                    type: 'POST',
                    dataType: "json",
                    beforeSend: function (request) {
                        request.setRequestHeader('Token', token);
                    },
                    url: server + 'Api/@ViewBag.Module/Create',
                    data: {
                        Name: $('#Name').val(),
                        Code: $('#Code').val(),
                        StockCode: $('#StockCode').val(),
                        Specification: $('#Specification').val(),
                        CategoryCode: $('#CategoryCode').val(),
                        InputTaxRate: $('#InputTaxRate').val(),
                        OutputTaxRate: $('#OutputTaxRate').val(),
                        EnabledDate: moment($('#EnabledDate').val(), 'DD/MM/YYYY').format('YYYY-MM-DD'),
                        ABLIAN: $('#ABLIAN').val(),
                        Factor: $('#Factor').val(),
                        WeightPerBag: $('#WeightPerBag').val(),
                        SpecificGravity: $('#SpecificGravity').val(),
                        WeightPerPallet: $('#WeightPerPallet').val(),
                    },
                    success: function (response) {
                        isValid = response.status;
                        if (!isValid) {
                            $.each(response.error_validation, function (index, value) {
                                $('#' + value.FieldName).next().html(value.ErrorMessage);
                                $('#' + value.FieldName).addClass('is-invalid');
                            });
                            toastr.error(response.message);
                            dissmissDialog();
                        } else {
                            clearValue();
                            clearForm();
                            dissmissDialog();
                            showFlash();
                        }
                    }
                });
        });
    </script>
}
