@{
    ViewBag.Title = "User Role";
    ViewBag.Module = "UserRole";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-inbox bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>Create</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-database"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Master</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Create @ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" autocomplete="off" id="Name" class="form-control" />
                                    <span class="help-block text-danger"></span>
                                </div>
                            </div>
                            <div class="card-group" id="listMenu">
                                @*<div class="col-md-4">
                                    <div class="card form-group row">
                                        <div class="card-header">
                                            <center><h6><b>User</b></h6></center>
                                        </div>
                                        <div class="card-body">
                                            <div class="col-sm-12">
                                                <input type="checkbox" class="checkbox" name="ReadUser" value="ReadUser">
                                                <label for="ReadUser"> Read User</label><br />
                                                <input type="checkbox" class="checkbox" name="AddUser" value="AddUser">
                                                <label for="AddUser"> Add User</label><br />
                                                <input type="checkbox" class="checkbox" name="EditUser" value="EditUser">
                                                <label for="EditUser"> Edit User</label><br />
                                                <input type="checkbox" class="checkbox" name="DeleteUser" value="DeleteUser">
                                                <label for="DeleteUser"> Delete User</label><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card form-group row">
                                        <div class="card-header">
                                            <center><h6><b>User Role</b></h6></center>
                                        </div>
                                        <div class="card-body">
                                            <div class="col-sm-12">
                                                <input type="checkbox" class="checkbox" name="ReadUserRole" value="ReadUserRole">
                                                <label for="ReadUserRole"> Read User Role</label><br />
                                                <input type="checkbox" class="checkbox" name="AddUserRole" value="AddUserRole">
                                                <label for="AddUserRole"> Add User Role</label><br />
                                                <input type="checkbox" class="checkbox" name="EditUserRole" value="EditUserRole">
                                                <label for="EditUserRole"> Edit User Role</label><br />
                                                <input type="checkbox" class="checkbox" name="DeleteUserRole" value="DeleteUserRole">
                                                <label for="DeleteUserRole"> Delete User Role</label><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card form-group row">
                                        <div class="card-header">
                                            <center><h6><b>Bin/Rack</b></h6></center>
                                        </div>
                                        <div class="card-body">
                                            <div class="col-sm-12">
                                                <input type="checkbox" class="checkbox" name="ReadBinRack" value="ReadBinRack">
                                                <label for="ReadBinRack"> Read Bin/Rack</label><br />
                                                <input type="checkbox" class="checkbox" name="AddBinRack" value="AddBinRack">
                                                <label for="AddBinRack"> Add Bin/Rack</label><br />
                                                <input type="checkbox" class="checkbox" name="EditBinRack" value="EditBinRack">
                                                <label for="EditBinRack"> Edit Bin/Rack</label><br />
                                                <input type="checkbox" class="checkbox" name="DeleteBinRack" value="DeleteBinRack">
                                                <label for="DeleteBinRack"> Delete Bin/Rack</label><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card form-group row">
                                        <div class="card-header">
                                            <center><h6><b>Bin/Rack Area</b></h6></center>
                                        </div>
                                        <div class="card-body">
                                            <div class="col-sm-12">
                                                <input type="checkbox" class="checkbox" name="ReadBinRack" value="ReadBinRack">
                                                <label for="ReadBinRack"> Read Bin/Rack Area</label><br />
                                                <input type="checkbox" class="checkbox" name="AddBinRack" value="AddBinRack">
                                                <label for="AddBinRack"> Add Bin/Rack Area</label><br />
                                                <input type="checkbox" class="checkbox" name="EditBinRack" value="EditBinRack">
                                                <label for="EditBinRack"> Edit Bin/Rack Area</label><br />
                                                <input type="checkbox" class="checkbox" name="DeleteBinRack" value="DeleteBinRack">
                                                <label for="DeleteBinRack"> Delete Bin/Rack Area</label><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card form-group row">
                                        <div class="card-header">
                                            <center><h6><b>Currency</b></h6></center>
                                        </div>
                                        <div class="card-body">
                                            <div class="col-sm-12">
                                                <input type="checkbox" class="checkbox" name="ReadCurrency" value="ReadCurrency">
                                                <label for="ReadCurrency"> Read Currency</label><br />
                                                <input type="checkbox" class="checkbox" name="AddCurrency" value="AddCurrency">
                                                <label for="AddCurrency"> Add Currency</label><br />
                                                <input type="checkbox" class="checkbox" name="EditCurrency" value="EditCurrency">
                                                <label for="EditCurrency"> Edit Currency</label><br />
                                                <input type="checkbox" class="checkbox" name="DeleteCurrency" value="DeleteCurrency">
                                                <label for="DeleteCurrency"> Delete Currency</label><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                                @*<div class="col-md-4">
                                    <div class="card form-group row">
                                        <div class="card-header">
                                            <center><h6><b>Customer Classification</b></h6></center>
                                        </div>
                                        <div class="card-body">
                                            <div class="col-sm-12">
                                                <input type="checkbox" class="checkbox" name="ReadCustomerClassification" value="1">
                                                <label for="ReadCustomerClassification"> Read Customer Classification</label><br />
                                                <input type="checkbox" class="checkbox" name="AddCustomerClassification" value="2">
                                                <label for="AddCustomerClassification"> Add Customer Classification</label><br />
                                                <input type="checkbox" class="checkbox" name="EditCustomerClassification" value="3">
                                                <label for="EditCustomerClassification"> Edit Customer Classification</label><br />
                                                <input type="checkbox" class="checkbox" name="DeleteCustomerClassification" value="4">
                                                <label for="DeleteCustomerClassification"> Delete Customer Classification</label><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("Index", "UserRole")" class="btn btn-outline-info float-left"><i class="ik ik-arrow-left"></i>Back</a>
                <button type="submit" class="btn btn-primary float-right" id="btnSave"><i class="ik ik-save"></i>Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="saveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Save Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnYes"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>

@section custom_js
{
    <script type="text/javascript">
        let server = '@ViewBag.Server';
        let token = '@Session["token"]';
        let isValid = true;

        getListMenu();

        function getListMenu() {
            $('#UserRole').empty();
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    beforeSend: function (request) {
                        request.setRequestHeader('Token', token);
                    },
                    url: server + 'Api/Role/GetPermissions',
                    success: function (response) {
                        isValid = response.status;
                        var body = '';
                        $.each(response.list, function (index, value) {
                            body += '<div class="col-md-4">';
                            body += '<div class="card form-group row">';
                            body += '<div class="card-header">';
                            body += '<center><h6><b>' + value.Name + '</b></h6></center>';
                            body += '</div>';
                            body += '<div class="card-body">';
                            body += '<div class="col-sm-12">';
                            $.each(value.Controls, function (index2, value2) {
                                body += '<div class="form-group row">';
                                body += '<div class="custom-control custom-checkbox">';
                                body += '<input type="checkbox" class="custom-control-input checkbox" name="' + value2.MenuControlID + '" id="' + value2.MenuControlID + '" value="' + value2.MenuControlID + '">';
                                body += '<label class="custom-control-label" for="' + value2.MenuControlID + '"> ' + value2.Name + '</label>';
                                body += '</div></div>';
                            });
                            body += '</div></div></div></div>';
                        });
                        $('#listMenu').append(body);
                    }
                });
        }

        function clearForm() {
            $('#Name').removeClass('is-invalid');
            $('#Name').next().html('');
        }

        function clearValue() {
            $('#Name').val('');
        }

        $('#btnSave').click(function () {
            clearForm();
            isValid = true;
            if ($('#Name').val().length == 0) {
                $('#Name').addClass('is-invalid');
                $('#Name').next().html('This field is Required');
                isValid = false;
            }

            if (isValid) {
                $('#saveModal').modal('show');
            }
        });

        function showFlash() {
            toastr.success('Data Successfully Saved')
        }

        function dissmissDialog() {
            $('#saveModal').modal('hide');
        }

        $('#btnYes').click(function () {
            let menuControlArray = new Array();
            $('.checkbox').each(function () {
                if ($(this).prop('checked')) {
                    menuControlArray.push($(this).val());
                }
            });
            $.ajax({
                    type: 'POST',
                    dataType: "json",
                    beforeSend: function (request) {
                        request.setRequestHeader('Token', token);
                    },
                    url: server + 'Api/Role/Create',
                    data: {
                        Name: $('#Name').val(),
                        MenuControlIDs: menuControlArray
                    },
                    success: function (response) {
                        isValid = response.status;
                        if (!isValid) {
                            $.each(response.error_validation, function (index, value) {
                                $('#' + value.FieldName).next().html(value.ErrorMessage);
                                $('#' + value.FieldName).addClass('is-invalid');
                            });
                            toastr.error(response.message);
                            dissmissDialog();
                        } else {
                            clearForm();
                            clearValue();
                            dissmissDialog();
                            showFlash();
                            getListMenu();
                        }
                    }
            });
        });
    </script>
}
