
@{
    ViewBag.Title = "Inspection";
    ViewBag.Module = "Inspection";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-user bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>List</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-database"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">QC</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10" style="margin-top:10px;">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Filter</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="Filter">
                                <option value="OPEN/PROGRESS">OPEN/PROGRESS</option>
                                <option value="OPEN">OPEN</option>
                                <option value="PROGRESS">PROGRESS</option>
                                <option value="CONFIRMED">CONFIRMED</option>
                                <option value="CLOSED">CLOSED</option>
                                <option value="ALL">ALL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2">Filtered By</label>
                        <div class="col-sm-4 fa-pull-left">
                            <span id="FilteredBy" class="badge badge-secondary">OPEN/PROGRESS</span>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success" id="btnRefreshDataTable">Refresh Table</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary float-right" id="btnCreate"><i class="ik ik-plus"></i>Create</button>
                    <button type="button" class="btn btn-success float-right" id="btnReport"><i class="ik ik-file"></i>Report</button>
                </div>
            </div>
            <div class="card-body">
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="data_table" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>CODE</th>
                                <th>MATERIAL TYPE</th>
                                <th>MATERIAL CODE</th>
                                <th>MATERIAL NAME</th>
                                <th>LOT NO.</th>
                                <th>IN DATE</th>
                                <th>EXP DATE</th>
                                <th>CREATED BY</th>
                                <th>CREATED ON</th>
                                <th>STATUS</th>
                                <th>INSPECTION STATUS</th>
                                <th>INSPECTED BY</th>
                                <th>INSPECTED ON</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-tab1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Expired</a>
                <a class="nav-item nav-link" id="nav-tab2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">NG</a>
            </div>
        </nav>
    </div>
    <div class="col-lg-12">
        <div class="card" style="padding : 20px;">
            <div class="card-body">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="">
                        <div class="dt-responsive col-md-12">
                            <table class="table table-bordered table-striped nowrap" id="data_table_expired" width="100%" cellspacing="0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th></th>
                                        <th>CODE</th>
                                        <th>MATERIAL TYPE</th>
                                        <th>MATERIAL CODE</th>
                                        <th>MATERIAL NAME</th>
                                        <th>LOT NO.</th>
                                        <th>IN DATE</th>
                                        <th>EXP DATE</th>
                                        <th>EXPIRATION DAY</th>
                                        <th>CREATED BY</th>
                                        <th>CREATED ON</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="">
                        <div class="dt-responsive col-md-12">
                            <table class="table table-bordered table-striped nowrap" id="data_table_non_expired" width="100%" cellspacing="0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th></th>
                                        <th>CODE</th>
                                        <th>MATERIAL TYPE</th>
                                        <th>MATERIAL CODE</th>
                                        <th>MATERIAL NAME</th>
                                        <th>LOT NO.</th>
                                        <th>IN DATE</th>
                                        <th>EXP DATE</th>
                                        <th>EXPIRATION DAY</th>
                                        <th>CREATED BY</th>
                                        <th>CREATED ON</th>
                                        <th>STATUS</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*<div class="modal" id="expiredModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Material List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="dt-responsive">
                        <table class="table table-bordered table-striped nowrap display" id="expiredTable" width="100%" cellspacing="0">
                            <thead class="thead-dark">
                                <tr>
                                    <th>MATERIAL CODE</th>
                                    <th>MATERIAL NAME</th>
                                    <th>MATERIAL TYPE</th>
                                    <th>LOT NO.</th>
                                    <th>IN DATE</th>
                                    <th>EXP DATE</th>
                                    <th>TOTAL QTY</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="formJudgementModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Judgement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" autocomplete="off" class="form-control number-non-decimal" id="ExtendQty" />
                            <span class="help-block text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" id="ExtendRange">
                                <option value="d">Day(s)</option>
                                <option value="m">Month(s)</option>
                                <option value="y">Year(s)</option>
                            </select>
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                    <button type="button" class="btn btn-primary" id="btnSaveJudgement"><i class="ik ik-check-circle"></i>Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="formDisposeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dispose</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Dispose Material ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                    <button type="button" class="btn btn-primary" id="btnSaveDispose"><i class="ik ik-check-circle"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="formReturnModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Return</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Return Material ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                    <button type="button" class="btn btn-primary" id="btnSaveReturn"><i class="ik ik-check-circle"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="formPutawayExtendModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">QC Inspection Putaway</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Inspection Status</label>
                        <div class="col-sm-6">
                            <input type="text" autocomplete="off" class="form-control" id="StatusEx" readonly />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Material Code</label>
                        <div class="col-sm-6">
                            <input type="text" autocomplete="off" class="form-control" id="MaterialCodeEx" readonly />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Material Name</label>
                        <div class="col-sm-6">
                            <input type="text" autocomplete="off" class="form-control" id="MaterialNameEx" readonly />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Lot No</label>
                        <div class="col-sm-6">
                            <input type="text" autocomplete="off" class="form-control" id="LotNoEx" readonly />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">In Date</label>
                        <div class="col-sm-6">
                            <input type="text" autocomplete="off" class="form-control" id="InDateEx" readonly />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4">Exp Date</label>
                        <div class="col-sm-6">
                            <input type="text" autocomplete="off" class="form-control" id="ExpDateEx" readonly />
                            <span class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered nowrap" width="100%" cellspacing="0" id="tablePutaway">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th>BIN/RACK NAME</th>
                                            <th>BIN/RACK CODE</th>
                                            <th>BAG QTY</th>
                                            <th>QTY/BAG</th>
                                            <th>PUTAWAY BAG QTY</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" hidden>
                        <label class="col-form-label col-sm-4">Area</label>
                        <div class="col-sm-4">
                            <select id="AreaList" class="form-control">
                                <option value="" selected>Select Area</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" hidden>
                        <label class="col-form-label col-sm-4">BinRack</label>
                        <div class="col-sm-4">
                            <select id="BinRackCode" class="form-control">
                                <option value="" selected>Select BinRack</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                    <button type="button" class="btn btn-primary" id="btnPutawayReturn"><i class="ik ik-check-circle"></i>Putaway</button>
                </div>
            </div>
        </div>
    </div>*@

@section custom_css
{
    @Styles.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables/fixedColumns.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/toastr/toastr.css")
    @Styles.Render("~/Content/plugins/select2/dist/css/select2.min.css")
    <style>
        tr.row_priority td {
            background-color: #f0d405 !important;
        }
    </style>
}


@section custom_js
{
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/plugins/inputmask/js/jquery.inputmask.bundle.js")
    @Scripts.Render("~/Content/plugins/toastr/toastr.min.js")
    @Scripts.Render("~/Content/custom/js/notification.js")
    @Scripts.Render("~/Content/plugins/select2/dist/js/select2.min.js")


    <script>

        let server = '@ViewBag.server';
        let module = '@ViewBag.Module';
        let baseUrl = '@ViewBag.BaseUrl';
        let token = '@Session["token"].ToString()';

        function reloadTable() {
            table.ajax.reload();
        }

        var table = $('#data_table').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            "order": [],
            ajax: {
                "dataType": "json",
                "type": "POST",
                "url": server + "Api/QCInspection/Datatable?transactionStatus=OPEN/PROGRESS"
            },
            columnDefs: [
                { orderable: false, targets: -1 }
            ],
            columns: [
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "MaterialType", "name": "MaterialType", "autoWidth": true },
                { "data": "MaterialCode", "name": "MaterialCode", "autoWidth": true },
                { "data": "MaterialName", "name": "MaterialName", "autoWidth": true },
                { "data": "LotNo", "name": "LotNo", "autoWidth": true },
                { "data": "InDate", "name": "InDate", "autoWidth": true },
                { "data": "ExpDate", "name": "ExpDate", "autoWidth": true },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let badge = '';
                        if (data.TransactionStatus == 'OPEN') {
                            badge = 'badge badge-info';
                        } else if (data.TransactionStatus == 'PROGRESS') {
                            badge = 'badge badge-primary';
                        } else if (data.TransactionStatus == 'CONFIRMED') {
                            badge = 'badge badge-success';
                        } else if (data.TransactionStatus == 'CLOSED') {
                            badge = 'badge badge-warning';
                        }
                        let button = '<span class="' + badge + '">' + data.TransactionStatus + '</span>';
                        return button;
                    }
                },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let badge = '';
                        if (data.InspectionStatus == '') {
                            badge = 'badge badge-info';
                            data.InspectionStatus = 'WAITING';
                        } else if (data.InspectionStatus == 'DISPOSE') {
                            badge = 'badge badge-danger';
                        } else if (data.InspectionStatus == 'EXTEND') {
                            badge = 'badge badge-primary';
                        }
                        else if (data.InspectionStatus == 'RETURN') {
                            badge = 'badge badge-warning';
                        }
                        let button = '<span class="' + badge + '">' + data.InspectionStatus + '</span>';
                        return button;
                    }
                },
                { "data": "InspectedBy", "name": "InspectedBy", "autoWidth": true },
                { "data": "InspectedOn", "name": "InspectedOn", "autoWidth": true },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let button = '';

                        if (data.JudgementAction) {
                            button += '<button type="button" class="btn btn-primary" onclick="qcJudgement(this)"><i class="ik ik-check-circle"></i>Judgement</button> ';
                        }
                        if (data.ReturnAction) {
                            button += '<button type="button" class="btn btn-primary" onclick="qcReturn(this)"><i class="ik ik-check-circle"></i>Return</button> ';
                        }
                        if (data.DisposeAction) {
                            button += '<button type="button" class="btn btn-danger" onclick="qcDispose(this)"><i class="ik ik-check-circle"></i>Dispose</button>';
                        }

                        if (data.PutawayExtendAction) {
                            button += '<button type="button" class="btn btn-primary" onclick="qcPutawayExtend(this)"><i class="ik ik-check-circle"></i>Putaway Extend</button> ';
                        }
                        //if (data.PickingDisposeAction) {
                        //    button += '<button type="button" class="btn btn-warning" onclick="qcPickingDispose(this)"><i class="ik ik-check-circle"></i>Picking Dispose</button> ';
                        //}

                        return button;
                    }
                },
            ],
            "createdRow": function( row, data, dataIndex){
                if(data.Priority == true){
                    $(row).addClass('row_priority');
                }
            }
        });


        var expiredTable = $('#expiredTable').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[5, "asc"]],
            ajax: {
                "dataType": "json",
                "type": "POST",
                "url": server + "Api/QCInspection/DatatableExpired"
            },
            columnDefs: [
                { orderable: false, targets: -1 }
            ],
            columns: [
                { "data": "MaterialCode", "name": "MaterialCode", "autoWidth": true },
                { "data": "MaterialName", "name": "MaterialName", "autoWidth": true },
                { "data": "MaterialType", "name": "MaterialType", "autoWidth": true },
                { "data": "LotNumber", "name": "LotNumber", "autoWidth": true },
                { "data": "InDate", "name": "InDate", "autoWidth": true },
                { "data": "ExpiredDate", "name": "ExpiredDate", "autoWidth": true },
                { "data": "TotalQty", "name": "TotalQty", "autoWidth": true },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let button = '<button class="btn btn-primary" onclick= "CreateQC(this)"><i class="ik ik-check-circle"></i>Create</button>';
                        return button;
                    }
                },
            ]
        });


    $('#btnRefreshDataTable').click(function () {
        table.ajax.reload();
    });

        function OpenDetail(row) {
            var elementRow = $(row).closest('tr');
            var dataTableRow = table.row($(elementRow)).data();
            //open page detail
            window.location.replace('@Url.Action("Detail", "Inspection")?id=' + dataTableRow.ID);
        };
        function setPrinterList() {
            $('#PrinterList').select2();
            $.ajax({
                type: 'GET',
                async: false,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/Control/ListPrinter',
                success: function (response) {

                    $('#PrinterList').empty();
                    var html = '';
                    html += '<option value="" selected>Select Printer</option>';
                    $.each(response.printers, function (index, value) {
                        html += '<option value="' + value.PrinterIP + '">' + value.PrinterName + '</option>';
                    });
                    $('#PrinterList').append(html);
                    $('#PrinterList').select2({ width: '100%' });
                }
            });
        }
        $('#Filter').change(function () {
            var Filter = $('#Filter').val();
            $('#FilteredBy').html(Filter);

            var badge = 'badge ';
            if (Filter == 'OPEN/PROGRESS') {
                badge += 'badge-secondary';
            } else if (Filter == 'OPEN') {
                badge += 'badge-info';
            } else if (Filter == 'PROGRESS') {
                badge += 'badge-primary';
            } else if (Filter == 'CONFIRMED') {
                badge += 'badge-success';
            } else if (Filter == 'CLOSED') {
                badge += 'badge-warning';
            } else {
                badge += 'badge-dark';
                Filter = "";
            }
            $('#FilteredBy').removeClass();
            $('#FilteredBy').addClass(badge);
            table.ajax.url(server + "Api/QCInspection/Datatable?transactionStatus=" + Filter).load();
        });


    $('#btnCreate').click(function () {

        $('#expiredTable').DataTable().ajax.reload();
        $('#expiredTable').DataTable().columns.adjust();

        $('#expiredModal').modal({
            backdrop: 'static',
            keyboard: false
        });


    });


    function CreateQC(index) {

        var elementRow = $(index).closest('tr');
        var dataRow = $('#expiredTable').DataTable().row($(elementRow)).data();

        $.ajax({
            type: 'POST',
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader('Token', token);
            },
            url: server + 'Api/QCInspection/CreateManual',
            data: {
                MaterialCode: dataRow.MaterialCode,
                LotNumber: dataRow.LotNumber,
                InDate: dataRow.InDate,
                ExpiredDate: dataRow.ExpiredDate,
            },
            success: function (response) {
                isValid = response.status;
                if (isValid) {
                    $('#expiredModal').modal('hide');
                    table.ajax.reload();
                    notify("Success", "success", response.message);
                    //setTimeout(function () { window.location.replace('@ViewBag.BaseUrl/Inspection/Detail?id=' + response.id); }, 1000);
                } else {
                    notify("Warning", "warning", response.message);
                }

            }
        });
        }


    let InspectionID = "";
    function qcJudgement(el) {
        var elementRow = $(el).closest('tr');
        var dataTableRow = table.row($(elementRow)).data();
        InspectionID = dataTableRow.ID;
            $('#formJudgementModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

    function qcDispose(el) {
        var elementRow = $(el).closest('tr');
        var dataTableRow = table.row($(elementRow)).data();
        InspectionID = dataTableRow.ID;
            $('#formDisposeModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }
        function qcReturn(el) {
            var elementRow = $(el).closest('tr');
            var dataTableRow = table.row($(elementRow)).data();
            InspectionID = dataTableRow.ID;
            $('#formReturnModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }
        function qcPutawayExtend(el) {
            var elementRow = $(el).closest('tr');
            var dataTableRow = table.row($(elementRow)).data();
            $('#MaterialCodeEx').val(dataTableRow.MaterialCode);
            $('#MaterialNameEx').val(dataTableRow.MaterialName);
            $('#MaterialCodeEx').val(dataTableRow.MaterialCode);
            $('#StatusEx').val(dataTableRow.InspectionStatus);
            $('#LotNoEx').val(dataTableRow.LotNo);
            $('#InDateEx').val(dataTableRow.InDate);
            $('#ExpDateEx').val(dataTableRow.ExpDate);

            InspectionID = dataTableRow.ID;
            $('#formPutawayExtendModal').modal({
                backdrop: 'static',
                keyboard: false
            });
                setAreaList();
            loadtableExtend();
        }
        $('#AreaList').change(function () {

            $.ajax({
                type: 'GET',
                async: false,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/BinRack/AreaRack?id=' + this.value,
                success: function (response) {

                    $('#BinRackCode').empty();
                    var html = '';
                    html += '<option value="" selected>Select Bin/Rack</option>';
                    $.each(response, function (index, value) {
                        html += '<option value="' + value.ID + '">' + value.Code + ' - ' + value.Name + '</option>';
                    });
                    $('#BinRackCode').append(html);
                    $('#BinRackCode').select2({ width: '100%' });
                }
            });
        });


        let btnSaveJudgement = "";
    $('#btnSaveJudgement').click(function () {
        if (btnSaveJudgement == "") {
            btnSaveJudgement = "confirmation";
            $(this).html('<i class="ik ik-check-circle"></i>Proceed ?');
            $(this).removeClass('btn-primary');
            $(this).addClass('btn-success');
        } else {
            btnSaveJudgement = "";
            $(this).html('<i class="ik ik-check-circle"></i>Save');
            $(this).removeClass('btn-success');
            $(this).addClass('btn-primary');
            $('#ExtendQty').next().html("");
        $('#ExtendQty').removeClass('is-invalid');

        $('#ExtendRange').next().html("");
        $('#ExtendRange').removeClass('is-invalid');


            var ExtendQty = $('#ExtendQty').val() != "" ? $('#ExtendQty').val().replace(/\,/g, '') : 0
            var param = {
                "InspectionID": InspectionID,
                "ExtendQty": ExtendQty,
                "ExtendRange": $('#ExtendRange').val()
            }

            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: param,
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/QCInspection/Judgement',
                success: function (response) {
                    isValid = response.status;

                    if (isValid) {
                        $('#formJudgementModal').modal('hide');
                        //initQC();
                        //initJudgement();
                        //initData();
                        table.ajax.reload();
                        notify("Success", "success", response.message);
                    } else {
                        $.each(response.error_validation, function (index, value) {
                            $('#' + value.FieldName).next().html(value.ErrorMessage);
                            $('#' + value.FieldName).addClass('is-invalid');
                        });
                        notify("Warning", "warning", response.message);
                    }
                }
            });
        }



    });

            let btnSaveDispose = "";
        let btnSaveReturn = "";
        let btnSavePutaway = "";

    $('#btnSaveReturn').click(function () {
        if (btnSaveDispose == "") {
            btnSaveDispose = "confirmation";
            $(this).html('<i class="ik ik-check-circle"></i>Proceed ?');
            $(this).removeClass('btn-primary');
            $(this).addClass('btn-success');
        } else {
            btnSaveDispose = "";
            $(this).html('<i class="ik ik-check-circle"></i>Save');
            $(this).removeClass('btn-success');
            $(this).addClass('btn-primary');

            var param = {
                "InspectionID": InspectionID,
            }

            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: param,
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/QCInspection/Return',
                success: function (response) {
                    isValid = response.status;

                    if (isValid) {
                        $('#formReturnModal').modal('hide');
                        //initQC();
                        //initDisposal();
                        //initData();
                        table.ajax.reload();
                        notify("Success", "success", "Return Success");
                    } else {
                        notify("Warning", "warning", response.message);
                    }
                }
            });
        }



    });
    $('#btnSavePutaway').click(function () {
            if (btnSaveDispose == "") {
                btnSavePutaway = "confirmation";
                $(this).html('<i class="ik ik-check-circle"></i>Proceed ?');
                $(this).removeClass('btn-primary');
                $(this).addClass('btn-success');
            } else {
                btnSaveDispose = "";
                $(this).html('<i class="ik ik-check-circle"></i>Save');
                $(this).removeClass('btn-success');
                $(this).addClass('btn-primary');

                var param = {
                    "InspectionID": InspectionID,
                }

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: param,
                    beforeSend: function (request) {
                        request.setRequestHeader('Token', token);
                    },
                    url: server + 'Api/QCInspection/Return',
                    success: function (response) {
                        isValid = response.status;

                        if (isValid) {
                            $('#formReturnModal').modal('hide');
                            //initQC();
                            //initDisposal();
                            //initData();
                            table.ajax.reload();
                            notify("Success", "success", "Return Success");
                        } else {
                            notify("Warning", "warning", response.message);
                        }
                    }
                });
            }



    });
        $('#btnPutawayReturn').click(function () {
            var param = {
                "PutawayId": StockId,
                "InDate": $('#InDateEx').val(),
                "ExpDate": $('#ExpDateEx').val(),
                "LotNumber": $('#LotNoEx').val(),
                "QtyPerBag": $('#LotNoEx').val(),
                "BagQty": $('#LotNoEx').val(),
                "BinRackCode": $('#BinRackCode').find(":selected").val(),
            }
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: param,
                    beforeSend: function (request) {
                        request.setRequestHeader('Token', token);
                    },
                    url: server + 'Api/QCInspection/PutawayExtend',
                    success: function (response) {
                        isValid = response.status;

                        if (isValid) {
                            $('#formPutawayExtendModal').modal('hide');
                            //initQC();
                            //initDisposal();
                            //initData();

                            table.ajax.reload();
                            notify("Success", "success", "Return Success");
                        } else {
                            notify("Warning", "warning", response.message);
                        }
                    }
                });
     });
        let StockId = "";
        function chooseStock(index) {
            data_fifo = list_fifo[index];
            StockId = data_fifo.ID;
        }
        let tablePutaway = "";
    function loadtableExtend() {
        $.ajax({
                type: 'POST',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/QCInspection/DatatableExtendPutaway?InspectionId=' + InspectionID,
                success: function (response) {

                    $('#tablePutaway tbody').empty();
                    if (response.status) {
                        list_fifo = response.data;
                        var html = "";

                        if (list_fifo.length > 0) {
                            $.each(list_fifo, function (index, value) {
                                html += '<tr>';
                                html += '<td><input type="radio" name="id" onchange="chooseStock(\'' + index + '\')"></td>';
                                html += '<td>' + value.BinRackName + '</td>';
                                html += '<td>' + value.BinRackCode + '</td>';
                                html += '<td>' + value.BagQty + '</td>';
                                html += '<td>' + value.QtyPerBag + '</td>';
                                html += '<td>' + value.PutawayQty + '</td>';
                                //html += '<td>' + value.WarehouseCode + '</td>';
                                //html += '<td>' + value.WarehouseName + '</td>';
                                //html += '<td>' + value.BinRackAreaCode + '</td>';
                                //html += '<td>' + value.BinRackAreaName + '</td>';
                                //html += '<td>' + value.BinRackCode + '</td>';
                                //html += '<td>' + value.BinRackName + '</td>';
                                html += '</tr>';
                            });
                        } else {
                            html += '<tr><td colspan="13">No Data</td></tr>';
                        }
                        $('#tablePutaway tbody').append(html);

                    } else {
                        notify("Warning", "warning", response.message);
                    }


                }
            });

        }
        function setAreaList() {
            $('#AreaList').select2();
            $.ajax({
                type: 'GET',
                async: false,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/BinRackArea/WarehouseAreabyType?id=' + "2001",
                success: function (response) {

                    $('#AreaList').empty();
                    var html = '';
                    html += '<option value="" selected>Select Area</option>';
                    $.each(response, function (index, value) {
                        html += '<option value="' + value.ID + '">' + value.Code + ' - ' + value.Name + '</option>';
                    });
                    $('#AreaList').append(html);
                    $('#AreaList').select2({ width: '100%' });

                }
            });
        }
        $('#AreaList').change(function () {

            $.ajax({
                type: 'GET',
                async: false,
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('Token', token);
                },
                url: server + 'Api/BinRack/AreaRack?id=' + this.value,
                success: function (response) {

                    $('#BinRackID').empty();
                    var html = '';
                    html += '<option value="" selected>Select Bin/Rack</option>';
                    $.each(response, function (index, value) {
                        html += '<option value="' + value.ID + '">' + value.Code + ' - ' + value.Name + '</option>';
                    });
                    $('#BinRackID').append(html);
                    $('#BinRackID').select2({ width: '100%' });
                }
            });
        });
            $('#btnSaveReturn').click(function () {
                if (btnSaveReturn == "") {
                    btnSaveReturn = "confirmation";
                    $(this).html('<i class="ik ik-check-circle"></i>Proceed ?');
                    $(this).removeClass('btn-primary');
                    $(this).addClass('btn-success');
                } else {
                    btnSaveReturn = "";
                    $(this).html('<i class="ik ik-check-circle"></i>Save');
                    $(this).removeClass('btn-success');
                    $(this).addClass('btn-primary');

                    var param = {
                        "InspectionID": InspectionID,
                    }

                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        data: param,
                        beforeSend: function (request) {
                            request.setRequestHeader('Token', token);
                        },
                        url: server + 'Api/QCInspection/Return',
                        success: function (response) {
                            isValid = response.status;

                            if (isValid) {
                                $('#formReturnModal').modal('hide');
                                //initQC();
                                //initDisposal();
                                //initData();
                                table.ajax.reload();
                                notify("Success", "success", response.message);
                            } else {
                                notify("Warning", "warning", response.message);
                            }
                        }
                    });
                }
            });
    </script>
}
