
@{
    Layout = null;
    int i = 1;
    int index = 0;
}

@model WMS_FE.Models.ReceivingDetailDTO
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body {
            font-family: 'Arial Rounded MT';
        }

        table{
            font-size:11px;
        }

        .tbl_header th, td {
            padding: 5px;
        }

        .tableDetail {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
        }

            .tableDetail td {
                word-break: break-word;
/*                white-space: pre-wrap;*/
            }

            .tableDetail, .tableDetail th, .tableDetail td {
                border: 1px solid black;
            }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: gray;
            color: white;
            text-align: center;
        }

        .header img {
            width: 70px ;
            display: inline-block;
            vertical-align: middle;
        }

        .header span {
            font-size: 5px;
        }

       /* .tbl_header td{
            padding:10px;
        }*/

        header {
            position: running(header);
        }

        footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

        @@page {
            margin-top: 200px;

            @@top-left {
                content: element(header);
            }

            @@bottom-right {
                content: "Page " counter(page) " of " counter(pages);
            }
        }

    </style>
</head>

<body>
    <header>
        <div class="header">
            <table style="width: 100%; border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td style="width: 40%;"><img src="@ViewBag.Logo" /><b>PT. ELASTOMIX INDONESIA</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 style="text-align:center;margin-bottom:25px;">
            <b>@ViewBag.Title</b>
        </h2>
        <table class="tbl_header" style="width: 50%; display: inline-block; ">
            <tbody>
                <tr>
                    <td>Document Number</td>
                    <td>:</td>
                    <td>@Model.DoNo</td>
                </tr>
                <tr>
                    <td>Lot Number</td>
                    <td>:</td>
                    <td>@Model.LotNo</td>
                </tr>
            </tbody>
        </table>
        <table class="tbl_header" style="width: 50%; display: inline-block;">
            <tbody>
                <tr>
                    <td>In Date</td>
                    <td>:</td>
                    <td>@Model.InDate</td>
                </tr>
                <tr>
                    <td>Exp. Date</td>
                    <td>:</td>
                    <td>@Model.ExpDate</td>
                </tr>
            </tbody>
        </table>
    </header>

    <table class="tableDetail">
        <tbody>
        @for (index = 0; index < Convert.ToInt32(@Model.LastFotoCOA); ++index)
        {
            ViewBag.foto = ViewBag.url + Model.StockCode + Model.LastSeries + i + ViewBag.ext;
            <tr  style="width: 100%;" align="center">
                <td style="width: 100%;" align="center">
                    <img src="@ViewBag.foto"  alt="Foto Not Found" width="680" height="780" />
                </td>
            </tr>
            i++;
        }            
        </tbody>
    </table>

    <div style="margin-bottom: 50px;">&nbsp;</div>
    <table width='100%' style="margin-top:10px; border-collapse: collapse;" id="tableApproval">
    </table>
</body>
</html>

