
@{
    ViewBag.Title = "Raw Material";
    ViewBag.Create = String.Concat(ViewBag.Title.Replace(" ", ""), "/Create");
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-user bg-blue"></i>
                <div class="d-inline">
                    <h5>@ViewBag.Title</h5>
                    <span>List</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href=""><i class="ik ik-database"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Master Data</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Import Data</label>
                    <div class="col-sm-6">
                        <div class="custom-file">
                            @Html.TextBox("file_upload", "", new { @type = "file", @class = "custom-file-input", @id = "file_upload", @accept = "application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" })
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span class="text-muted text-sm"><i>Allowed file type : .xls/ .xlsx</i></span>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-warning" onclick="resetUpload()"><i class="ik ik-delete"></i>Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="uploadData()"><i class="ik ik-upload"></i>Import Data</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="dt-responsive col-md-12">
                    <table class="table table-bordered table-striped nowrap" id="data_table" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>RAWMATE CODE</th>
                                <th>RAWMATE NAME</th>
                                <th>QTY</th>
                                <th>UOM</th>
                                <th>SELF LIFE</th>
                                <th>ORDERED QTY</th>
                                <th>TRANSPORTING MODE</th>
                                <th>MIN PURCHASE QTY</th>
                                <th>PLACE OF ORIGIN</th>
                                <th>MAKER NAME</th>
                                <th>SUPPLIER NAME</th>
                                <th>STATUS</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>4TZ087A</td>
                                <td>4TZ-087A</td>
                                <td>124</td>
                                <td>KG</td>
                                <td>6 MONTHS</td>
                                <td>0</td>
                                <td>IMPORT</td>
                                <td>124</td>
                                <td>ABOARD</td>
                                <td>Elastomix Co., Ltd</td>
                                <td>-</td>
                                <td>Active</td>
                                <td>
                                    <a href="#" class="btn btn-primary"><i class="ik ik-edit"></i>Edit</a> &nbsp;
                                    <a href="#" class="btn btn-danger"><i class="ik ik-trash"></i>Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalTitle">Import Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ik ik-x-circle"></i>No</button>
                <button type="button" class="btn btn-success" id="btnUploadSave"><i class="ik ik-check-circle"></i>Yes</button>
            </div>
        </div>
    </div>
</div>



@section custom_css
{
    @Styles.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/datatables/fixedColumns.bootstrap4.min.css")
    @Styles.Render("~/Content/plugins/toastr/toastr.css")
}

@section custom_js
{
    @Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/plugins/datatables/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/plugins/toastr/toastr.min.js")
    @Scripts.Render("~/Content/custom/js/notification.js")

    <script>

        var table = $('#data_table').DataTable({
        scrollX: true,});

        @*let server = '@ViewBag.server';
        let module = '@ViewBag.Title';

        function reloadTable() {
            table.ajax.reload();
        }

        var table = $('#data_table').DataTable({
            processing: true,
            serverSide: true,
            scrollY: "500px",
            scrollX: true,
            scrollCollapse: true,
            paging: true,
            order: [[1, "desc"]],
            ajax: {
                "dataType": "json",
                "type": "POST",
                "url": server + "Api/" + module + "/Datatable"
            },
            columns: [
                { "data": "Username", "name": "Username", "autoWidth": true },
                { "data": "Email", "name": "Email", "autoWidth": true },
                { "data": "IsActive", "name": "IsActive", "autoWidth": true },
                { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                { "data": "CreatedOn", "name": "CreatedOn", "autoWidth": true },
                { "data": "ModifiedBy", "name": "ModifiedBy", "autoWidth": true },
                { "data": "ModifiedOn", "name": "ModifiedOn", "autoWidth": true },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        let button = "<button type=\"button\" class=\"btn btn-sm btn-info btn-icon-split\" onclick=\"Detail('" + row.Username +"')\">";
                        button += '<span class="icon text-white-50"><i class="fas fa-edit"></i></span >';
                        button += '<span class="text">Detail</span></button >';
                        return button;
                    }
                },
            ]
        });*@
    </script>
}